.hj-catalogue {
  .nm-page-wrap-inner {
    // background: linear-gradient(to bottom right, #42275a, #734b6d);
    background: linear-gradient(to bottom right, #29353b, #272f33);

    #cat-hero {
      @extend .jumbo, .text-light, .text-xs-center;
      padding-top: 10em;
      padding-bottom: 10em;
      margin-bottom: 1em;
    }
  }
}
