@mixin home-button {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1em;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(#000, .2);
  // overflow: hidden;
  transition: all .3s ease;
  // transform-style: preserve-3d;

  .nm_btn_bg {
    border: 0;
    // border-radius: 6px 6px 0 6px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(#000, .1), 0 0 1px rgba(#04001b, .1);
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      right: -1px;
      bottom: -1px;
      width: 20px;
      height: 20px;
      background: #000;
      opacity: .2;
      // mix-blend-mode: overlay;
      transform-origin: bottom left;
      transform: skewX(-45deg);
    }
  }

  &:hover {
    transform: translateY(2px);

    .nm_btn_bg {
      opacity: 1;
      box-shadow: none;
    }
  }
}

@mixin gradient-text($gradient, $bg : 'light') {
  @supports (mix-blend-mode: lighten) {
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;

      background: unquote($gradient);
      pointer-events: none;
    }

    @if ($bg == 'light') {
      color: #000;
      background: #fff;
      @supports (mix-blend-mode: multiply) {
        mix-blend-mode: multiply;
      }

      &::before {
        @supports (mix-blend-mode: screen) {
          mix-blend-mode: screen;
        }
      }
    } @else {
      color: #fff;
      background: #000;

      @supports (mix-blend-mode: lighten) {
        mix-blend-mode: lighten;
      }

      &::before {
        @supports (mix-blend-mode: multiply) {
          mix-blend-mode: multiply;
        }
      }
    }
  }
}

$hexagon-count: 7;
$border-width: 1px;
$animation-duration: 5s;

.home {
  .text-light {
    text-shadow: 0 1px 1px rgba(#000, .1);
  }

  .on-top {
    position: relative;
    z-index: 10;
  }

  .nm_btn_align_left {
    @extend .text-xs-center;
    @extend .text-md-left;
  }
  .nm_btn_align_right {
    @extend .text-xs-center;
    @extend .text-md-right;
  }

  .nm_btn {
    @include home-button;
  }

  // .wpb_content_element > .wpb_wrapper {
  //   position: relative;
  // }

  .curve {
    position: relative;
    // max-height: 0;
    // margin-bottom: -1px;
    .nm_column {
      min-height: 0;
    }
    .wpb_text_column {
      position: relative;
    }
  }

  .header-curve,
  .header-curve-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    transform: scaleX(-1);
    z-index: 10;

    @include media-breakpoint-down(md) {
      display: none !important;
    }
  }
  .header-curve-shadow {
    display: none;
    filter: blur(15px);
    opacity: .8;

    @supports (mix-blend-mode: overlay) {
      mix-blend-mode: overlay;
    }
  }

  #home-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 64em;

    background-image: linear-gradient(to top right, rgba($clr-amber-200, 1) 0%, rgba($clr-pink-200, 1) 30%, rgba($clr-purple-200, 1) 50%, $clr-cyan-500 120%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // transform: skewY(8deg);
    // transform-origin: 100%;
    overflow: hidden;

    div {
      position: relative;
      height: 100%;
    }

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;

      @supports (mix-blend-mode: overlay) {
        mix-blend-mode: overlay;
      }
    }

    // svg {
    //   position: absolute;
    //   bottom: 0;
    //   right: 0;
    //   width: auto;
    //   height: 100%;
    //   opacity: .8;
    //
    //   @supports (mix-blend-mode: overlay) {
    //     mix-blend-mode: overlay;
    //   }
    //
    //   @include media-breakpoint-down(sm) {
    //     display: none;
    //   }
    // }

    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url(../images/waves-hero_animated-2.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @supports (mix-blend-mode: overlay) {
        mix-blend-mode: overlay;
      }
    }

    @include media-breakpoint-down(md) {
      height: 40em;
    }

    @include media-breakpoint-down(sm) {
      height: 60em;
    }
  }

  #home-div-1 {
    .header-curve path {
      fill: #fff;
    }
    .header-curve,
    .header-curve-shadow {
      height: 80px;
    }
  }
  #home-div-2 {
    display: none;

    .header-curve path {
      fill: $clr-grey-bg;
    }
    .header-curve,
    .header-curve-shadow {
      transform: scaleX(1);
      height: 80px;
    }
  }
  #home-div-3 {
    display: none;

    .header-curve path {
      fill: #fff;
    }
    .header-curve,
    .header-curve-shadow {
      height: 80px;
    }
  }

  #home-hero {
    @extend .text-xs-center, .text-md-right, .text-light;

    min-height: 64em;
    padding-top: 14em;
    padding-bottom: 14em;
    // overflow: hidden;

    @include media-breakpoint-down(md) {
      min-height: 40em;
      padding-top: 2em;
      padding-bottom: 2em;
    }

    @include media-breakpoint-down(sm) {
      min-height: 60em;
      padding-top: 6em;
      padding-bottom: 2em;
    }

    $color: #925BD4;

    .jumbo h1 {
      color: $color !important;

      @supports (mix-blend-mode: overlay) {
        color: #000 !important;
        mix-blend-mode: overlay;
      }
    }

    .hero-cta {
      margin: 0 -5px;
      .nm_btn {
        margin: 5px;
      }

      .btn-explore .nm_btn_bg {
        background: $color;
      }
      .btn-catalogue .nm_btn_bg {
        background: $clr-pink-a200;
      }
    }

    svg#haje-logo {
      position: relative;
      width: 0;
      z-index: 10;
      opacity: 0;

      path {
        fill: #fff;
        opacity: .9;
      }
      // mix-blend-mode: overlay;

      @include media-breakpoint-down(md) {
        max-width: 200px;
      }
    }

    svg.hexagon {
      display: none;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 0;
      max-width: none;
      opacity: 0;

      @supports (mix-blend-mode: overlay) {
        display: block;
        mix-blend-mode: overlay;
      }

      polygon {
        fill: $clr-blue-grey-800;
        // fill: none;
        // stroke: $clr-blue-grey-800;
        // stroke-width: 10;
        // stroke-miterlimit: 10;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    // .nm_btn_bg {
    //   box-shadow: 0 2px 6px rgba(#000, .1), 0 1px 3px rgba(#000, .1);
    // }
  }

  .haje-kurta {
    padding-top: 4em;
    padding-bottom: 4em;

    figure img {
      @supports (mix-blend-mode: darken) {
        mix-blend-mode: darken;
      }
    }

    h1 {
      position: relative;
    }

    [class^="flaticon-"] {
      display: flex;
      border-radius: 100%;
      border: 2px solid $clr-main-font;
      width: 56px;
      height: 56px;
      font-size: 28px;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: 50%;
      left: -70px;
      transform: translateY(-50%);
      z-index: 100;

      &:before, &:after {
        font-size: inherit;
        margin-left: 0;
        color: $clr-main-font;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .home-size-list {
      // position: absolute;
      // top: -12px;
      // right: 0;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      color: #aaa;


      li {
        list-style: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      li > a {
        display: flex;
        width: 44px;
        height: 44px;
        line-height: 1;
        // background: rgba(#fff, .8);
        border-radius: 50%;
        border: 1px solid #ddd;
        margin: 3px;

        justify-content: center;
        align-items: center;

        color: #bbb;
        transition: all .3s ease;

        &:hover {
          border-color: #777;
          color: #777;
        }
      }

      li.size-count {
        width: auto;
        height: auto;
        background: none;
        border-radius: 0;
        border: 0;
        margin-right: 10px;
        margin-left: 0;
        color: $clr-main-font;
        font-size: 1.4em;
        font-weight: 300;

      }

      li:last-child {
        margin-right: 0;
      }

      @include media-breakpoint-down(sm) {
        justify-content: center !important;

        li.size-count {
          display: block;
          width: 100%;
          margin-right: 0;
        }
      }
    }

    .home-kurta-price {
      font-size: 2em;
      font-weight: 300;
      line-height: 1;
      padding-top: 1em;
    }

    .home-kurta-cta {
      padding-top: 1em;
    }

    .home-pre-order {
      padding-top: 1em;
      color: tint($clr-main-font, 40);
      font-weight: 300;
    }
  }

  .haje-kurta,
  #home-cta {
    @include media-breakpoint-down(sm) {
      .nm_column:first-of-type {
        margin-bottom: 4em;
      }
    }
  }

  // SPECIFIC SECTIONS

  #home-prelude,
  #home-upright {
    .home-size-list {
      justify-content: flex-end;
    }
  }

  #home-signature {
    @extend .text-xs-center, .text-md-left;

    // margin-top: -2em;
    padding-top: 4em;
    padding-bottom: 8em;

    // background: #fff url(../images/waves4.svg) no-repeat right;
    // background-size: cover;
    //
    // @include media-breakpoint-down(sm) {
    //   background-position: 90% 100%;
    // }

    $color: #d6243b;

    [class^="flaticon-"] {
      border-color: $color;
      background: $color;
      &:before, &:after {
        color: #fff;
      }
    }

    .preheader {
      color: $color;
    }
    h1 {
      color: $color;
    }
    .nm_btn_bg {
      background: $color;
    }

    .home-kurta-price {
      color: $color;
    }
  }

  #home-prelude {
    @extend .text-xs-center, .text-md-right;

    background: $clr-grey-bg;
    // background: $clr-grey-bg url(../images/waves2.svg) no-repeat center;
    // background-size: cover;
    //
    // @include media-breakpoint-down(sm) {
    //   background-position: 15% 100%;
    // }

    // overflow: hidden;
    position: relative;
    padding-top: 2em;
    padding-bottom: 4em;
    z-index: 10;

    $color: #3b7777;

    [class^="flaticon-"] {
      border-color: $color;
      background: $color;
      left: auto;
      right: -70px;

      &:before, &:after {
        color: #fff;
      }
    }

    .preheader {
      color: $color;
    }
    h1 {
      color: $color;
    }
    .nm_btn_bg {
      background: $color;
    }

    .home-kurta-price {
      color: $color;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 140px;
      background: $clr-grey-bg;
      transform: skewY(-4deg);
      transform-origin: top left;
    }
  }

  #home-define {
    @extend .text-xs-center, .text-md-left;

    padding-bottom: 8em;

    // background: #fff url(../images/waves7.svg) no-repeat center;
    // background-size: cover;
    //
    // @include media-breakpoint-down(sm) {
    //   background-image: none;
    // }

    $color: #eeaf15;

    [class^="flaticon-"] {
      border-color: $color;
      background: $color;
      &:before, &:after {
        color: #fff;
      }
    }

    .preheader, h1 {
      color: $color;
    }
    .nm_btn_bg {
      background: $color;
    }

    .home-kurta-price {
      color: $color;
    }
  }

  #home-upright {
    @extend .text-xs-center, .text-md-right;

    background: $clr-grey-bg;
    // background: $clr-grey-bg url(../images/waves6.svg) no-repeat center;
    // background-size: cover;
    //
    // @include media-breakpoint-down(sm) {
    //   background: $clr-grey-bg url(../images/waves5.svg) no-repeat left 125%;
    //   background-size: 250%;
    // }

    // overflow: hidden;
    position: relative;
    padding-top: 4em;
    padding-bottom: 4em;
    z-index: 10;

    $color: #335bee;

    [class^="flaticon-"] {
      border-color: $color;
      background: $color;
      left: auto;
      right: -70px;

      &:before, &:after {
        color: #fff;
      }
    }

    .preheader {
      color: $color;
    }
    h1 {
      color: $color;
    }
    .nm_btn_bg {
      background: $color;
    }

    .home-kurta-price {
      color: $color;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 140px;
      background: $clr-grey-bg;
      transform: skewY(-4deg);
      transform-origin: top left;
    }
  }

  #home-cta {
    padding-top: 10em;
    padding-bottom: 10em;

    @include media-breakpoint-down(md) {
      padding-top: 4em;
      padding-bottom: 4em;

      h2, h3 {
        text-align: center !important;
      }
    }

    .haje-cta {
      text-align: right;

      .nm_btn {
        margin: 5px;
        display: inline-block;

        @include media-breakpoint-down(md) {
          display: block;
        }
      }

      .btn-buy .nm_btn_bg {
        background: $clr-highlight;
        &:after {
          background: $clr-blue-900;
          opacity: 1;
        }
      }

      .btn-edar .nm_btn_bg {
        background: #3DD2CC;
        &:after {
          background: #198c89;
          opacity: 1;
        }
      }

      .btn-catalogue .nm_btn_bg {
        background: $clr-pink-a200;
      }

    }
  }
}
