// @keyframes glossy {
//   0%   { left: -15px; }
//   100% { left: 500px; }
// }

@mixin home-button($color: #333, $hover-bg: $color) {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: 600;
  transition: all .3s ease;

  color: $color;

  .nm_btn_bg {
    border: 2px solid $color;
    border-radius: 3px;
    background: none;
    overflow: hidden;
    opacity: 1 !important;

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 100%;
      left: 0;
      z-index: -1;
      transition: transform 0.3s;
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    &:before {
      background: tint($hover-bg, 40);
    }
    &:after {
      background: $hover-bg;
    }
  }

  &:hover {
    color: #fff !important;

    .nm_btn_bg:before,
    .nm_btn_bg:after {
      transform: translate3d(0, 100%, 0);
    }
    .nm_btn_bg:after {
      transition-delay: 0.175s;
    }
  }
}
//
// .button.button--aylen {
//   background: #fff;
//   color: #37474f;
//   overflow: hidden;
//   -webkit-transition: color 0.3s;
//   transition: color 0.3s;
// }
// .button--aylen.button--inverted {
//   background: none;
//   color: #fff;
// }
// .button--aylen::before,
// .button--aylen::after {
//   content: '';
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   bottom: 100%;
//   left: 0;
//   z-index: -1;
//   -webkit-transition: -webkit-transform 0.3s;
//   transition: transform 0.3s;
//   -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
//   transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
// }

@mixin gradient-text($gradient, $bg : 'light') {
  @supports (mix-blend-mode: lighten) {
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;

      background: unquote($gradient);
      pointer-events: none;
    }

    @if ($bg == 'light') {
      color: #000;
      background: #fff;
      @supports (mix-blend-mode: multiply) {
        mix-blend-mode: multiply;
      }

      &::before {
        @supports (mix-blend-mode: screen) {
          mix-blend-mode: screen;
        }
      }
    } @else {
      color: #fff;
      background: #000;

      @supports (mix-blend-mode: lighten) {
        mix-blend-mode: lighten;
      }

      &::before {
        @supports (mix-blend-mode: multiply) {
          mix-blend-mode: multiply;
        }
      }
    }
  }
}

#home-hero-rev {
  h1, p {
    text-shadow: 0 1px 3px rgba(#000, .3);
  }

  // h1 i {
  //   font-family: 'Playfair Display', $heading-fonts;
  // }

  .slotholder:after,
  .rs-background-video-layer:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    // background: rgba(#000, 0.6);
    background: linear-gradient(to left, rgba(#000, .7), rgba(#000, 0) 80%);
  }

  .haje-logo img {
    // opacity: .6;

    @supports (mix-blend-mode: overlay) {
      mix-blend-mode: overlay;
    }
  }

  .rev-btn {
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(#000, .3);

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 100%;
      left: 0;
      z-index: -1;
      transition: transform 0.3s;
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    &:before {
      background: tint(#333, 50);
    }
    &:after {
      background: #333;
    }

    &:hover {
      // color: #fff !important;
      &:before,
      &:after {
        transform: translate3d(0, 100%, 0);
      }
      &:after {
        transition-delay: 0.175s;
      }
    }

  }

  .hero-cta-buy {
    background-color: #ED2866 !important;
    color: #fff !important;
    transition: color .3s ease !important;

    &:before {
      background: #aaa;
    }
    &:after {
      background: #fff;
    }

    &:hover {
      color: #000 !important;
    }
  }

  .hero-cta-cat {
    background-color: transparent !important;

    &:before {
      background: #aaa;
    }
    &:after {
      background: #fff;
    }
  }
}

.home {
  .nm-header nav ul > li > a {
    text-shadow: 0 0 15px rgba(#000, .3);
  }

  .on-top {
    position: relative;
    z-index: 10;
  }

  .nm_btn_align_left {
    @extend .text-xs-center, .text-md-left;
  }
  .nm_btn_align_right {
    @extend .text-xs-center, .text-md-right;
  }
}

.header-curve,
.header-curve-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  transform: scaleX(-1);
  z-index: 10;
}

.home-curve {
  position: relative;

  > .nm_column {
    min-height: 0;

    > .wpb_wrapper > .wpb_text_column {
      position: relative;
    }
  }

  .header-curve path {
    fill: #fff;
  }
  .header-curve,
  .header-curve-shadow {
    height: 80px;

    @include media-breakpoint-down(sm) {
      height: 40px;
    }
  }
}

.header-curve-shadow {
  display: none;

  @supports (mix-blend-mode: overlay) {
    display: block;
    filter: blur(15px);
    mix-blend-mode: overlay;
    opacity: .5;
  }
}

.home-kurta {
  position: relative;
  padding-top: 4em;
  padding-bottom: 4em;

  figure img {
    @supports (mix-blend-mode: darken) {
      mix-blend-mode: darken;
    }
  }

  h1 {
    position: relative;
  }

  [class^="flaticon-"] {
    display: flex;
    border-radius: 100%;
    border: 2px solid $clr-main-font;
    width: 56px;
    height: 56px;
    font-size: 28px;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: -70px;
    transform: translateY(-50%);
    z-index: 100;

    &:before, &:after {
      font-size: inherit;
      margin-left: 0;
      color: $clr-main-font;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.home-size-list {
  // position: absolute;
  // top: -12px;
  // right: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #aaa;


  li {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  li > a {
    display: flex;
    width: 44px;
    height: 44px;
    line-height: 1;
    // background: rgba(#fff, .8);
    border-radius: 50%;
    border: 2px solid #ddd;
    margin: 4px;
    font-weight: 600;

    justify-content: center;
    align-items: center;

    color: #bbb;
    transition: all .3s ease;

    &:hover {
      border-color: #777;
      color: #555;
    }
  }

  li.size-count {
    width: auto;
    height: auto;
    background: none;
    border-radius: 0;
    border: 0;
    margin-right: 10px;
    margin-left: 0;
    color: $clr-main-font;
    font-size: 1.4em;
    font-weight: 300;

  }

  li:last-child {
    margin-right: 0;
  }

  @include media-breakpoint-down(sm) {
    justify-content: center !important;

    li.size-count {
      display: block;
      width: 100%;
      margin-right: 0;
    }
  }
}

.home-kurta-price {
  font-size: 2em;
  font-weight: 300;
  line-height: 1;
  padding-top: 1em;
}

.home-kurta-cta {
  padding-top: 1em;
}

.home-pre-order {
  padding-top: 1em;
  color: tint($clr-main-font, 40);
  font-weight: 300;
}

.home-kurta,
#home-cta {
  @include media-breakpoint-down(sm) {
    .nm_column:first-of-type {
      margin-bottom: 4em;
    }
  }
}

// SPECIFIC SECTIONS

#home-prelude,
#home-upright {
  .home-size-list {
    justify-content: flex-end;
  }
}

#home-signature {
  @extend .text-xs-center, .text-md-left;

  // margin-top: -2em;
  padding-top: 2em;
  padding-bottom: 6em;

  // background: #fff url(../images/waves4.svg) no-repeat right;
  // background-size: cover;
  //
  // @include media-breakpoint-down(sm) {
  //   background-position: 90% 100%;
  // }

  $color: #d6243b;

  [class^="flaticon-"] {
    border-color: $color;
    background: $color;
    &:before, &:after {
      color: #fff;
    }
  }

  .preheader {
    color: $color;
  }
  h1 {
    color: $color;
  }

  .nm_btn {
    @include home-button($color);
  }

  .home-kurta-price {
    color: $color;
  }

  .home-size-list li > a:hover {
    border-color: $color;
    color: $color;
  }
}

#home-prelude {
  @extend .text-xs-center, .text-md-right;

  $color: #3b7777;

  background: $clr-grey-bg;
  // background: $clr-grey-bg url(../images/waves2.svg) no-repeat center;
  // background-size: cover;
  //
  // @include media-breakpoint-down(sm) {
  //   background-position: 15% 100%;
  // }

  // overflow: hidden;
  position: relative;
  padding-top: 1em;
  padding-bottom: 0;
  z-index: 10;

  [class^="flaticon-"] {
    border-color: $color;
    background: $color;
    left: auto;
    right: -70px;

    &:before, &:after {
      color: #fff;
    }
  }

  .preheader {
    color: $color;
  }
  h1 {
    color: $color;
  }

  .nm_btn {
    @include home-button($color);
  }

  .home-kurta-price {
    color: $color;
  }

  .home-size-list li > a:hover {
    border-color: $color;
    color: $color;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: $clr-grey-bg;
    transform: skewY(-2deg);
    transform-origin: top left;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 6em;
    padding-bottom: 6em;
  }
}

#home-define {
  @extend .text-xs-center, .text-md-left;

  padding-top: 6em;
  padding-bottom: 6em;

  // background: #fff url(../images/waves7.svg) no-repeat center;
  // background-size: cover;
  //
  // @include media-breakpoint-down(sm) {
  //   background-image: none;
  // }

  $color: #ffb700;

  [class^="flaticon-"] {
    border-color: $color;
    background: $color;
    &:before, &:after {
      color: #fff;
    }
  }

  .preheader, h1 {
    color: $color;
  }

  .nm_btn {
    @include home-button($color);
  }

  .home-kurta-price {
    color: $color;
  }

  .home-size-list li > a:hover {
    border-color: $color;
    color: $color;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -140px;
    left: 0;
    width: 100%;
    height: 140px;
    background: $clr-grey-bg;
    transform: skewY(2deg);
    transform-origin: top left;
  }
}

#home-upright {
  @extend .text-xs-center, .text-md-right;

  background: $clr-grey-bg;
  // background: $clr-grey-bg url(../images/waves6.svg) no-repeat center;
  // background-size: cover;
  //
  // @include media-breakpoint-down(sm) {
  //   background: $clr-grey-bg url(../images/waves5.svg) no-repeat left 125%;
  //   background-size: 250%;
  // }

  // overflow: hidden;
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
  z-index: 10;

  $color: #335bee;

  [class^="flaticon-"] {
    border-color: $color;
    background: $color;
    left: auto;
    right: -70px;

    &:before, &:after {
      color: #fff;
    }
  }

  .preheader {
    color: $color;
  }
  h1 {
    color: $color;
  }

  .nm_btn {
    @include home-button($color);
  }

  .home-kurta-price {
    color: $color;
  }

  .home-size-list li > a:hover {
    border-color: $color;
    color: $color;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: $clr-grey-bg;
    transform: skewY(-2deg);
    transform-origin: top left;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 6em;
    padding-bottom: 6em;
  }
}

#home-cta {
  padding-top: 10em;
  padding-bottom: 6em;
  position: relative;
  // z-index: 20;

  background: $clr-footer-highlight;

  h2, h3 {
    font-family: 'Arvo', $heading-fonts;
    letter-spacing: -1px;
  }

  h2 {
    color: $clr-footer-bg !important;
    // font-size: 4em !important;
  }

  h3 {
    color: #fff !important;
  }

  @include media-breakpoint-down(md) {
    padding-top: 4em;
    padding-bottom: 4em;

    h2, h3 {
      text-align: center !important;
    }
  }

  .haje-cta {
    text-align: right;

    .nm_btn {
      @include home-button($clr-footer-title);

      margin: 5px;

      color: #fff;

      @include media-breakpoint-down(md) {
        display: block;
      }

      .nm_btn_bg {
        border-radius: 3px;
        border: 0;
      }
    }

    .btn-buy {
      .nm_btn_bg {
        background: $clr-footer-bg;
      }
    }

    .btn-edar {
      color: #000;

      .nm_btn_bg {
        background: #fff;
      }
    }

    // .btn-buy .nm_btn_bg {
    //   background: $clr-highlight;
    //   &:after {
    //     background: $clr-blue-900;
    //     opacity: 1;
    //   }
    // }
    //
    // .btn-edar .nm_btn_bg {
    //   background: #3DD2CC;
    //   &:after {
    //     background: #198c89;
    //     opacity: 1;
    //   }
    // }
    //
    // .btn-catalogue .nm_btn_bg {
    //   background: $clr-pink-a200;
    // }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -140px;
    left: 0;
    width: 100%;
    height: 140px;
    background: $clr-grey-bg;
    transform: skewY(2deg);
    transform-origin: top left;
  }
}
