<div id="wc-haje-edar">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 436.2 497" style="enable-background:new 0 0 436.2 497;" xml:space="preserve">
  <polygon points="408.7,231.3 408.7,355.2 218.1,465.2 27.5,355.2 27.5,231.3 0,215.4 0,371 218.1,497 436.2,371 436.2,215.4 "/>
  <g>
    <path class="haje-top" d="M380.4,171.4l-5.7,3.3v12.4l5.7-3.3c3-1.7,4.7-4.9,4.7-9C385.1,170.9,383.4,169.7,380.4,171.4z"/>
    <polygon class="haje-top" points="338.6,213.4 346.8,208.6 342.8,196.3 	"/>
    <path class="haje-top" d="M305.5,214.9l-4.6,2.6v24.1l5.1-2.9c4.6-2.6,7.7-9.2,7.7-16.4C313.7,215,310.4,212.1,305.5,214.9z"/>
    <path class="haje-top" d="M436,140.2v-9.9L218.1,0L0.2,129.7v10.4H0v44.3l218.1,125.9l218.1-125.9v-44.3H436z M286.1,260.7L258,276.9v-45.1l27.6-16
    v10.3L268,236.3v7.1l16-9.2v10.3l-16,9.2v7.1l18.1-10.4V260.7z M305.4,249.6l-14.5,8.4v-45.1l14.8-8.6c11-6.3,18.2-1.6,18.2,12
    S316.5,243.1,305.4,249.6z M351.5,223l-2-6.1l-13.7,7.9l-2,8.4l-10.3,6l14.4-53.4l10.3-6l13.9,37L351.5,223z M384.5,203.9l-4.5-9.6
    l-5.3,3.1v12.2l-10,5.8v-45.1l15.8-9.1c9.1-5.2,14.3-2.5,14.3,7.8c0,6.7-2,12.8-5.7,17.6l6.9,10.8L384.5,203.9z"/>
  </g>
  </svg>

  <h2>Haje Edar</h2>
  <p>
  {{__('You are an appointed distributor (a.k.a. Haje Edar) at Haje. You are entitled to have our bulk price discounts. Start shopping &amp; selling.', 'savoy-haje')}}
  </p>

  <div class="discount-wrapper">
    {% for discount in discounts %}
    <div class="discount">
      <div class="quantity">{{discount[0]}}&ndash;{{discount[1]}} units</div>
      <div class="percent">{{discount[2]}}% off</div>
    </div>
    {% endfor %}

    <div class="clear"></div>
  </div>
</div>
