<div id="wc-haje-edar">
  {% include 'haje-edar-svg.twig' %}

  <h2>Haje Edar Discounts</h2>
  <p>
  {{__('You are an appointed distributor (a.k.a. Haje Edar) at Haje. You are entitled to have our bulk price discounts. Start shopping &amp; selling.', 'savoy-haje')}}
  </p>

  <div class="discount-wrapper">
    {% for discount in discounts %}
    <div class="discount">
      <div class="quantity">{{discount[0]}} &ndash; {{discount[1]}} pieces</div>
      <div class="percent">{{discount[2]}}% off</div>
    </div>
    {% endfor %}

    <div class="clear"></div>
  </div>
</div>
