<div class="haje-edar">
  <div class="haje-edar-logo">
    {% include 'haje-edar-svg.twig' %}
  </div>
  <div class="haje-edar-text">As a Haje Edar, you are entitled to have wholesale discounts on this product.</div>
  <div class="clear"></div>
</div>
