$clr-highlight: #2979ff;
$clr-main-font: #555555;
$clr-heading: #282828;
$clr-button-bg: #2979ff;
$clr-button-font: #ffffff;
$clr-topbar-bg: #303238;
$clr-nav: #555555;
$clr-nav-hover: #999999;
$clr-saleflash-bg: #00c853;
$clr-saleflash-font: #ffffff;

