$clr-highlight: #2979ff;
$clr-main-font: #555555;
$clr-heading: #282828;
$clr-button-bg: #2979ff;
$clr-button-font: #ffffff;
$clr-topbar-bg: #f3f3f3;
$clr-nav: #555555;
$clr-nav-hover: #999999;
$clr-saleflash-bg: #00c853;
$clr-saleflash-font: #ffffff;
$clr-single-bg: #f3f3f3;
$clr-grey-bg: #f3f3f3;

$font-primary: 'Oxygen';
