@mixin form-row {
  label {
    display: block;
    padding: .8em 0 .5em;
    // margin: 0;
    text-transform: uppercase;
    letter-spacing: 0;
    color: $clr-main-font;
    font-size: .9em;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .2s ease;
  }

  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  textarea,
  select {
    border-width: 2px;
    font-size: 1.4em;
    font-weight: 300;
    transition: all .2s ease;
  }

  .select2-chosen {
    font-size: 1.4em;
    font-weight: 300;
  }

  &.focus {
    label {
      color: $clr-highlight;
    }

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    textarea {
      // border-color: tint($clr-highlight, 40);
      border-color: $clr-highlight !important;
      background: tint($clr-highlight, 98) !important;
      color: shade($clr-highlight, 60) !important;
    }
  }

  &.form-group label {
    display: inline-block;
  }
}

// @mixin form-row-checkout {
//   label {
//     display: block;
//     text-transform: uppercase;
//     letter-spacing: 0;
//     color: tint($clr-heading, 40);
//     font-size: 1.1rem;
//     font-weight: 700;
//     letter-spacing: 1px;
//     transition: all .2s ease;
//     transform: translate3d(14px, 36px, 0);
//   }
//
//   input, textarea {
//     transition: all .2s ease;
//   }
//
//   &.focus {
//     label {
//       color: $clr-highlight;
//       transform: translate3d(0, 0, 0);
//       font-size: 1.1rem;
//       letter-spacing: 2px;
//     }
//
//     input, textarea {
//       border-color: tint($clr-highlight, 40);
//       background: tint($clr-highlight, 90);
//       color: shade($clr-highlight, 60);
//     }
//   }
//
//   &.form-group label {
//     display: inline-block;
//   }
// }

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="time"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input.input-text,
select,
textarea {
  border-radius: 3px;

  &:focus {
    // border-color: tint($clr-highlight, 40) !important;
    border-color: $clr-highlight !important;
    background: tint($clr-highlight, 98) !important;
    color: shade($clr-highlight, 60) !important;
  }
}

input:disabled,
input.disabled,
button.disabled {
  opacity: .3 !important;
}

button:not(.swatch),
a.button,
input[type=submit],
input[type=button] {
  border-radius: 3px !important;
}

body[class*="woocommerce-"] {
  .select2-container {
    .select2-choice {
      border-radius: 3px;
      border-width: 2px;
    }

    &.select2-dropdown-open .select2-choice {
      border-radius: 3px 3px 0 0;
    }

    &.select2-dropdown-open.select2-drop-above .select2-choice {
      border-radius: 0 0 3px 3px;
    }
  }

  .select2-results .select2-highlighted {
    color: #eee !important;
  }

  .select2-drop-active {
    border-width: 2px;
  }

  .select2-drop {
    margin-top: -2px;
    border-radius: 0 0 3px 3px;

    &.select2-drop-above.select2-drop-active {
      margin-top: 3px;
      border-bottom: 0;
      border-top-width: 2px;
      border-radius: 3px 3px 0 0;

      .select2-results {
        border-bottom: 0;
      }

      .select2-search {
        padding-top: 14px;
      }
    }
  }
}


// CHECKBOX
.nm-custom-checkbox-label {
  padding-left: 32px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 30px !important;
}
.nm-custom-checkbox-label:before {
  top: 2px !important;
  left: 0;
  width: 24px;
  height: 24px;
  font-size: 16px !important;
  line-height: 16px !important;
  text-align: center;
  border-width: 2px;
  border-radius: 3px;
  border-color: #e7e7e7;

  font-family: 'nm-font';
  font-style: normal;
  font-weight: normal;
  color: rgba($clr-highlight, 0);
  content: "\e116";

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .3s ease;
}
.nm-custom-checkbox:checked + .nm-custom-checkbox-label:before {
  border-color: $clr-highlight;
  color: $clr-highlight;
  // background: $clr-highlight;
  // color: #fff;
  // border-color: $clr-highlight;
  content: "\e116";
}
.nm-custom-checkbox:checked + .nm-custom-checkbox-label {
  color: $clr-highlight !important;
}

.mc4wp-checkbox-woocommerce {
  label {
    position: relative;

    span {
      display: block;
      position: relative;
      padding: 0 0 0 32px !important;
      line-height: 24px;

      &:before {
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        font-size: 16px !important;
        line-height: 16px !important;
        text-align: center;
        border-radius: 3px;
        border: 2px solid #e7e7e7;

        font-family: 'nm-font';
        font-style: normal;
        font-weight: normal;
        color: rgba($clr-highlight, 0);
        content: "\e116";

        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all .2s ease;
      }
    }

    input[type=checkbox] {
      position: absolute;
      top: -100px;
      left: 0;
      visibility: hidden;
    }

    input[type=checkbox]:checked + span:before {
      border-color: $clr-highlight;
      color: $clr-highlight;
    }
    input[type=checkbox]:checked + span {
      color: $clr-highlight;
    }
  }
}

.followup-checkout {
  label {
    display: block;
    position: relative;
    padding: 0 0 0 32px !important;
    line-height: 24px;

    &:before {
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      font-size: 16px !important;
      line-height: 16px !important;
      text-align: center;
      border-radius: 3px;
      border: 2px solid #e7e7e7;

      font-family: 'nm-font';
      font-style: normal;
      font-weight: normal;
      color: rgba($clr-highlight, 0);
      content: "\e116";

      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;

      transition: all .2s ease;
    }

    input[type=checkbox] {
      position: absolute;
      top: -100px;
      left: 0;
      visibility: hidden;
    }

    &.checked:before {
      border-color: $clr-highlight;
      color: $clr-highlight;
    }
    &.checked {
      color: $clr-highlight !important;
    }
  }
}

// RADIO
.nm-custom-radio-label {
  padding-left: 32px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 30px !important;
}
.nm-custom-radio-label:before {
  top: 2px;
  left: 0;
  width: 24px;
  height: 24px;
  border-width: 2px;
  border-radius: 24px;
  transition: all .3s ease;
}
.nm-custom-radio:checked + .nm-custom-radio-label:before {
  border-color: $clr-highlight;
  background-color: $clr-highlight;
}
.nm-custom-radio:checked + .nm-custom-radio-label {
  color: $clr-highlight !important;
}

#customer_login {
  .form-row {
    @include form-row;
  }
}

.nm-myaccount-login,
.nm-myaccount-lost-reset-password {
  input.input-text {
    border-color: #dbdbdb;
  }

  .nm-custom-checkbox-label:before {
    border-color: #dbdbdb;
  }
}

.woocommerce-cart {
  // #nm-cart-continue-button {
  //   background: $clr-highlight;
  //   border-color: $clr-highlight;
  //   color: #fff;
  //   transition: all .3s ease;
  //
  //   &:hover {
  //     background: $clr-heading;
  //     border-color: $clr-heading;
  //   }
  // }
}

.woocommerce-checkout {
  form[name="checkout"] {
    .form-row {
      @include form-row;
    }

    #billing_address_1_field {
      margin-bottom: .5em;
    }

    #order_comments_field {
      padding-top: 4em;
    }
  }

  form.login {
    .form-row:not(.form-group) {
      @include form-row;
    }
  }

  #customer_details {
    h3 {
      padding-bottom: 1.6em;
    }

    .woocommerce-billing-fields {
      @include big-number-before;

      &:before {
        content: "1";
      }
    }

    .woocommerce-shipping-fields {
      @include big-number-before;

      margin-top: 6em;

      h3 {
        padding-top: 0;
      }

      &:before {
        content: "2";
      }
    }
  }

  h3#order_review_heading {
    @include big-number-before;

    &:before {
      content: "3";
    }
  }
}

.woocommerce-account {
  form {
    .form-row {
      @include form-row;
    }
  }
}

#commentform {
  [class^="comment-form-"] {
    @include form-row;
  }
}

.nm-order-track-form {
  form {
    .form-row {
      @include form-row;
    }
  }
}
//
// .gform_wrapper {
//   margin: 0;
//
//   .gform_fields {
//     .gfield {
//       @include form-row;
//
//       input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
//         font-size: 1.8em;
//         padding: .2em .4em;
//       }
//
//       .ginput_container {
//         margin-top: 0;
//       }
//     }
//
//     .field_sublabel_below .ginput_complex.ginput_container label,
//     .field_sublabel_below div[class*=gfield_time_].ginput_container label {
//       margin: 0;
//       padding: 0;
//     }
//   }
//
//
//   .gform_footer input.button,
//   .gform_footer input[type=submit],
//   .gform_page_footer input.button,
//   .gform_page_footer input[type=submit] {
//     padding: 1em 2em;
//   }
// }

// CONTACT FORM 7

.nm-row .wpcf7 {
  margin-left: 0;
}

.wpcf7-form {
  p {
    padding: 0 !important;
    margin-bottom: 20px !important;
  }

  .form-row {
    @include form-row;
    // padding: 0 1em 2em 0;
    clear: none !important;
  }

  input[type=submit] {
    width: 100%;
  }

  .wpcf7-not-valid {
    border-bottom-color: $error;
  }

  .wpcf7-mail-sent-ok {
    color: $message;
  }
  .wpcf7-mail-sent-ng {
    color: $error;
  }
  .wpcf7-spam-blocked {
    color: $notice;
  }
  .wpcf7-validation-errors {
    color: $error;
  }
  .wpcf7-form-control-wrap {
    position: relative;
    display: block;
  }
  .wpcf7-not-valid-tip {
    color: $error;
    margin-top: 3px;
  }
  .use-floating-validation-tip .wpcf7-not-valid-tip {
    border: 1px solid $error;
  }

  .wpcf7-response-output {
    margin: 1em 0;
    padding: .8em 1.5em;
  }

  .wpcf7-mail-sent-ok {
    border: 1px solid $message;
  }

  .wpcf7-mail-sent-ng {
    border: 1px solid $error;
  }

  .wpcf7-spam-blocked {
    border: 1px solid $notice;
  }

  .wpcf7-validation-errors {
    border: 1px solid $error;
  }
}



.mc4wp-form {
  position: relative;
  margin-bottom: 20px;

  p {
    margin-bottom: 0;
    line-height: 1.5;
  }
  input[type="email"] {
    background-color: rgba(#fff, 0.1);
    border: 1px solid rgba($clr-heading, .2);
    border-radius: 3px;
    color: $clr-heading;
    width: 100%;
    transition: all .3s ease;
    line-height: 1;
  }
  input[type="email"]:focus {
    border-color: $clr-heading;
  }
  input[type="submit"] {
    height: 29px;
    border: none !important;
    background-color: $clr-highlight !important;
    color: #fff;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 1em;
    line-height: 1;
    padding: 0 10px;
    text-align: center;
    opacity: 1;
    transition: all .3s ease;
  }
  input[type="submit"]:hover {
    // color: $clr-highlight;
    opacity: .8;
  }
  label {
    display: none;
  }
  ::-webkit-input-placeholder {
    color: rgba($clr-heading, .7);
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: rgba($clr-heading, .7);
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba($clr-heading, .7);
  }
  :-ms-input-placeholder {
    color: rgba($clr-heading, .7);
  }

  // &.focus {
  //   input[type="submit"] {
  //     color: $clr-highlight;
  //   }
  // }

  .mc4wp-response .mc4wp-alert {
    margin-top: 3px;
    padding: 5px;
    font-size: .9em;

    &.mc4wp-notice {
      background: $clr-amber-200;
      border-radius: 3px;
      color: #222;
    }

    &.mc4wp-success {
      background: $message;
      border-radius: 3px;
      color: #fff;
    }
  }

  .mc4wp-form-fields {
    position: relative;
  }
}
