.gform_wrapper {
  margin: -16px 0 0;

  form {
    overflow: visible;
  }

  .gsection {
    padding: 0;
    border-bottom: 0;

    .gsection_title {
      padding: 0;
      font-size: 2em;
      font-weight: 300;
    }
  }

  .gfield:not(.gsection) + .gfield.gsection {
    margin-top: 4em !important;
  }

  .gfield {
    @include form-row;

    position: relative;

    label {
      transition: all .3s ease;
    }

    select {
      transition: all .3s ease;
    }

    &.field_sublabel_below .ginput_complex.ginput_container label,
    &.field_sublabel_below div[class*=gfield_time_].ginput_container label {
      margin: 0;
      padding: 0;
      font-weight: 400;
      text-transform: none;
    }

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
      padding: .32em .5em;
      font-size: 1.6em;
      font-weight: 300;
      transition: all .3s ease;
      line-height: 1 !important;
      min-height: auto !important;
      margin: 0;

      background: none !important;
    }

    select {
      padding: .16em .5em;
      font-size: 1.8em;
      font-weight: 300;
      margin: 0 !important;
      margin-top: 2px !important;
    }
  }

  &.gf_browser_chrome .gform_body {
    @media (max-width: 640px) {
      width: 100%;
    }
  }

  @media only screen and (min-width: 641px) {
    .ginput_complex .ginput_left {
      padding-right: 16px;
    }

    .ginput_complex.ginput_container_address .ginput_left {
      margin-right: 0;
    }

    .ginput_complex.ginput_container_address span.ginput_right+span.ginput_left {
      padding-right: 16px !important;
    }
  }

  @media only screen and (min-width: 641px) {
    .ginput_complex.ginput_container_address span.ginput_right+span.ginput_left.address_zip {
      margin-right: 0 !important;
    }
  }

  .top_label .gfield_label {
    font-size: .9em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .top_label .ginput_container {
    margin-top: 0 !important;
  }

  .gfield_password_strength {
    padding: 0 5px;
    font-size: .7em;
    width: 160px;
    border-bottom-width: 1px !important;
    border-radius: 2em;
    // margin: 10px 0 0 auto;
    margin: 5px 0 0;
    text-transform: uppercase;
    color: rgba(#000, .5);
  }

  // Radio
  #input_1_14,
  #input_1_20,
  #input_1_21,
  #input_1_15,
  #input_6_14,
  #input_6_20,
  #input_6_21,
  #input_6_15 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    [class^="gchoice_"] {
      input[type="radio"] {
        position: absolute;
        top: -100px;
        left: 0;
        visibility: hidden;
      }

      label {
        position: relative;
        padding: 5px;
        border: 2px solid #e7e7e7;
        border-radius: 2em;
        min-width: 100px;
        text-align: center;
        margin: 0 8px 0 0 !important;

        &:hover {
          border-color: #aaa;
        }
      }

      input[type="radio"]:checked + label {
        border-color: $clr-highlight;
        color: $clr-highlight;
      }

      input[type="text"] {
        font-size: .875em !important;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 2em;
        text-align: center;
        padding: 5px;
        min-width: 100px;
      }

      input[type="radio"]:checked + input[type="text"] {
        border-color: $clr-highlight;
        color: $clr-highlight;
      }
    }
  }

  .gfield.focus {
    #input_1_14,
    #input_1_20,
    #input_1_21,
    #input_1_15,
    #input_6_14,
    #input_6_20,
    #input_6_21,
    #input_6_15 {
      label {
        color: #8f8f8f
      }
    }
  }

  .gf_readonly {
    opacity: .5;
    cursor: no-drop;
    user-select: none;

    input {
      cursor: no-drop;
      user-select: none;
    }
  }

  .gform_footer {
    padding-bottom: 0;
    margin-top: 4em;
  }

  .gform_footer input.button,
  .gform_footer input[type=submit] {
    padding: 1em;
    font-size: 1.8em;
    font-weight: 300;
    width: 100%;
    // width: 8em;
    // height: 8em;
    border-radius: 3px;

    @include media-breakpoint-down(sm) {
      padding: .5em;
    }
  }

  .field_sublabel_below .ginput_complex.ginput_container label,
  .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    // margin-bottom:
  }

  .gfield_description {
    font-size: 1em 1imp;
  }

  .validation_message {
    font-weight: 400;
  }

  .field_description_below .gfield_description {
    padding-top: 5px;
  }

  .field_sublabel_above .ginput_complex.ginput_container label,
  .field_sublabel_above div[class*=gfield_time_].ginput_container label,
  .field_sublabel_below .ginput_complex.ginput_container label,
  .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    font-size: .85em;
    letter-spacing: 0;
  }

  div.validation_error {
    border: 0;
    color: $error;
    font-weight: 400;
    font-size: 1.2em;
  }

  .gfield_required {
    color: $error;
  }

  li.gfield.gfield_error,
  li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    // background: tint($clr-pink-a400, 95);
    background: none;
    border-color: $error;
    border: 0;
  }
  li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  li.gfield_error textarea,
  li.gfield_error select {
    border: 2px solid #e7e7e7;
    border-bottom: 2px solid $error;
    // border-radius: 3px 3px 0 0;
  }
  .gfield_error .gfield_label {
    color: $error;
  }
  .validation_message {
    color: $error;
  }
  li.gfield_error div.ginput_complex.ginput_container label,
  li.gfield_error ul.gfield_checkbox,
  li.gfield_error ul.gfield_radio {
    color: $error;
  }
}

.gform_confirmation_message {
  font-size: 1.4em;
  text-align: center;

  a {
    display: inline-block;
    margin-top: 1em;
    // padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
  }
}
