
.gform_wrapper {
  margin: -16px 0 0;

  .gform_wrapper form {
    overflow: visible;
  }

  .gsection {
    padding: 0;
    border-bottom: 0;

    .gsection_title {
      padding: 0;
      font-size: 2em;
      font-weight: 300;
    }
  }

  .gfield:not(.gsection) + .gfield.gsection {
    margin-top: 4em !important;
  }

  .gfield {
    @include form-row;

    position: relative;

    label {
      transition: all .3s ease;
    }

    select {
      transition: all .3s ease;
    }

    &.field_sublabel_below .ginput_complex.ginput_container label,
    &.field_sublabel_below div[class*=gfield_time_].ginput_container label {
      margin: 0;
      padding: 0;
      font-weight: 400;
      text-transform: none;
    }

    // &.focus {
    //   label {
    //     color: $clr-page;
    //   }
    //
    //   input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    //   select {
    //     border-color: $clr-page !important;
    //   }
    // }

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
      padding: .32em .5em;
      font-size: 1.6em;
      font-weight: 300;
      transition: all .3s ease;
      line-height: 1 !important;
      min-height: auto !important;
      margin: 0;

      background: none !important;
    }

    select {
      padding: .16em .5em;
      font-size: 1.8em;
      font-weight: 300;
      margin: 0 !important;
      margin-top: 2px !important;
    }
  }

  &.gf_browser_chrome .gform_body {
    @media (max-width: 640px) {
      width: 100%;
    }
  }

  @media only screen and (min-width: 641px) {
    .ginput_complex .ginput_left {
      padding-right: 16px;
    }

    .ginput_complex.ginput_container_address .ginput_left {
      margin-right: 0;
    }

    .ginput_complex.ginput_container_address span.ginput_right+span.ginput_left {
      padding-right: 16px !important;
    }
  }

  @media only screen and (min-width: 641px) {
    .ginput_complex.ginput_container_address span.ginput_right+span.ginput_left.address_zip {
      margin-right: 0 !important;
    }
  }

  .top_label .gfield_label {
    font-size: .9em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .top_label .ginput_container {
    margin-top: 0 !important;
  }

  .gform_footer {
    padding-bottom: 0;
    margin-top: 4em;
  }

  .gform_footer input.button,
  .gform_footer input[type=submit] {
    padding: 1em;
    font-size: 1.8em;
    font-weight: 300;
    width: 100%;
    // width: 8em;
    // height: 8em;
    border-radius: 3px;

    @include media-breakpoint-down(sm) {
      padding: .5em;
    }
  }

  .field_sublabel_below .ginput_complex.ginput_container label,
  .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    // margin-bottom:
  }

  .field_description_below .gfield_description {
    padding-top: 5px;
  }

  .field_sublabel_above .ginput_complex.ginput_container label,
  .field_sublabel_above div[class*=gfield_time_].ginput_container label,
  .field_sublabel_below .ginput_complex.ginput_container label,
  .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    font-size: .85em;
    letter-spacing: 0;
  }

  div.validation_error {
    border: 0;
    color: $error;
    font-weight: 400;
    font-size: 1.2em;
  }

  .gfield_required {
    color: $error;
  }

  li.gfield.gfield_error,
  li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    // background: tint($clr-pink-a400, 95);
    background: none;
    border-color: $error;
    border: 0;
  }
  li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  li.gfield_error textarea,
  li.gfield_error select {
    border: 1px solid #e7e7e7;
    border-bottom: 1px solid $error;
  }
  .gfield_error .gfield_label {
    color: $error;
  }
  .validation_message {
    color: $error;
  }
  li.gfield_error div.ginput_complex.ginput_container label,
  li.gfield_error ul.gfield_checkbox,
  li.gfield_error ul.gfield_radio {
    color: $error;
  }
}

.gform_confirmation_message {
  font-size: 1.4em;
  text-align: center;

  a {
    display: inline-block;
    margin-top: 1em;
    // padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
  }
}
