$hexagon-count: 7;
$border-width: 1px;
$animation-duration: 5s;

.hexagon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  font-size: 300px;
  opacity: .2;
}

.hexagon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  .part {
    position: absolute;
    width: 10px;
    height: $border-width;
    animation: part $animation-duration linear infinite;
    &::before, &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: currentColor;
      border-radius: $border-width 0 0 $border-width;
      transform-origin: right center;
      animation: inner $animation-duration linear infinite;
    }
    &::before { transform: translateX(-$border-width / 4) rotate(60deg) translateX($border-width / 4); }
    &::after { transform: translateX(-$border-width / 4) rotate(-60deg) translateX($border-width / 4); }
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        transform: translate(-50%, -50%) rotate(360deg * $i / 6);
      }
    }
  }
  @for $i from 1 through $hexagon-count {
    &:nth-child(#{$i}) {
      .part, .part::before, .part::after {
        animation-delay: -$animation-duration * ($i - 1) / ($hexagon-count - 1);
      }
    }
  }
  &:nth-child(2n) {
    transform: rotate(30deg);
  }
}

@keyframes part {
  from { width: 0; }
  to { width: 1em; }
}
@keyframes inner {
  from { width: 50%; }
  to { width: 0%; }
}

.nm_btn_align_left {
  @extend .text-xs-center;
  @extend .text-md-left;
}
.nm_btn_align_right {
  @extend .text-xs-center;
  @extend .text-md-right;
}


.home {
  .text-light {
    text-shadow: 0 1px 3px rgba(#000, .15);
  }

  #home-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 52em;
    background-color: $clr-green;
    background-image: linear-gradient(
      to top right,
      rgba($clr-amber-200, 1) 0%,
      rgba($clr-pink-200, 1) 30%,
      rgba($clr-purple-200, 1) 50%,
      $clr-cyan-500 120%);
    // transform: skewY(8deg);
    // transform-origin: 100%;
    overflow: hidden;

    div {
      position: relative;
      height: 100%;
    }

    @include media-breakpoint-down(sm) {
      height: 58em;
    }

    #header-curve,
    #header-curve-shadow {
      position: absolute;
      bottom: 0;
      width: 110%;
      height: 110px;
      // transform: scaleX(-1) translateX(5%);
      transform: translateX(-5%);
      z-index: 10;
    }

    #header-curve-shadow {
      display: block;
      filter: blur(20px);
      mix-blend-mode: overlay;
      opacity: .6;
    }
  }

  #home-hero {
    @extend .text-light;

    padding-top: 12em;
    padding-bottom: 18em;

    img {
      position: relative;
      max-width: 240px;
      z-index: 10;
      opacity: .8;
    }

    .hexagon-container {
      color: $clr-purple;
      top: 50%;
      left: 50%;
      font-size: 600px;
      // transform: scale(2);
      opacity: .15;
    }

    .nm_btn_bg {
      background-image: linear-gradient(to bottom, rgba(#fff, .05) 0%, rgba(#000, .05) 100%);
      box-shadow: 1px 3px 6px rgba(#000, 0.05), 0 2px 4px rgba(#000, 0.05);
    }
  }

  .haje-kurta {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  #home-signature {
    padding-top: 0;
    padding-bottom: 0;
  }

  #home-define {
    padding-top: 4em;
    padding-bottom: 0;

    .nm_column:last-of-type {
      margin-top: 4em;
    }
  }

  #home-prelude,
  #home-upright {
    background: $clr-grey-bg;
    overflow: hidden;
    position: relative;
    padding-top: 8em;
    padding-bottom: 8em;
    transform: skewY(-5deg) translateY(-5%);
    z-index: 10;

    > .nm-row {
      transform: skewY(5deg);
    }

    figure {
      border-radius: 50%;
      overflow: hidden;
      // max-width: 400px;
    }

    .hexagon-container {
      top: 55px;
      left: auto;
      right: -10px;
      font-size: 400px;
    }
  }

  #home-upright {
    @extend .text-light;
    background: #37385E linear-gradient(to bottom right, rgba(#37385E, 1), rgba(#59375e, 1));
  }
  #home-prelude .hexagon-container {
    color: #F0474D;
  }
  #home-upright .hexagon-container {
    color: #B1B942;
  }

  #home-cta {
    margin-top: -10em;
    padding-top: 20em;
    padding-bottom: 10em;
    background: $clr-grey-bg;
  }

  .on-top {
    position: relative;
    z-index: 10;
  }

  .nm_btn {
    text-transform: uppercase;
    font-size: .95em;
    letter-spacing: 1px;
    font-weight: 700;
    text-shadow: 0 2px 6px rgba(#000, .1);
  }
  .nm_btn .nm_btn_bg {
    border-radius: 5px;
    // box-shadow: 0 6px 10px rgba(#000, 0.1);
  }

  .haje-cta {
    text-align: right;
    .nm_btn {
      margin-left: 10px;
    }

    .btn-buy .nm_btn_bg {
      background: $clr-highlight;
    }
  }
}
