.nm-header {
  transition: all .3s ease;
}

// .nm-header.headroom--unpinned {
//   transform: translateY(-100%);
// }

.nm-header .nm-header-logo {
  z-index: 1000;
}

.home .nm-header,
.header-on-scroll .nm-header,
.home.header-transparency.header-on-scroll .nm-header {
  // background: rgba(#fff, 0.95);
}

// .backdropfilter {
//   .header-on-scroll .nm-header,
//   .home.header-transparency.header-on-scroll .nm-header {
//     -webkit-backdrop-filter: saturate(250%) blur(20px);
//     background: rgba(#fff, 0.7);
//   }
// }

.header-on-scroll .nm-header {
  // background: rgba(#fff, 0.95) !important;
  // border-bottom: 2px solid $clr-highlight;
}

.header-mobile-alt .nm-header.centered .nm-header-logo {
  @media (max-width: 400px) {
    left: $gutter * 2;
  }
}

.nm-menu li a {
  transition: all .3s ease;
}

.nm-header .nm-header-logo a {
  width: 60px;
  height: 30px;

  img {
    position: absolute;
    height: 30px;
    display: block !important;
    transition: all .3s ease;
  }

  img.nm-alt-logo {
    opacity: 0;
  }
}

// .nm-menu > li > a,
// .ubermenu-skin-none .ubermenu-item-level-0 > .ubermenu-target {
//   font-weight: 600;
// }

.header-light:not(.header-on-scroll) .nm-header {
  .nm-menu > li > a,
  .ubermenu-skin-none .ubermenu-item-level-0 > .ubermenu-target {
    color: #fff;
    // text-shadow: 0 1px 1px rgba(#000, .05);
    mix-blend-mode: overlay;

    &:hover {
      opacity: .7;
      color: #fff !important;
      text-shadow: none;
    }
  }

  .ubermenu-skin-none .ubermenu-item-level-0:hover > .ubermenu-target,
  .ubermenu-skin-none .ubermenu-item-level-0.ubermenu-active > .ubermenu-target {
    color: #fff;
    opacity: .6;
  }

  .nm-header-logo {
    img.nm-logo {
      opacity: 0;
    }
    img.nm-alt-logo {
      opacity: 1;
    }
  }
}

.nm-header .nm-menu > li {
  &.button {
    padding: 0;
    background: none;

    > a {
      border: 1px solid rgba(#282828, .5);
      border-radius: 6px;
      padding: 10px 16px;
      margin-top: 6px;
      transition: all .3s ease;
      mix-blend-mode: overlay;

      &:hover {
        border-color: $clr-heading;
      }

      .header-light & {
        border-color: rgba(#fff, .5);
      }
    }
  }
}

.nm-top-bar {
  z-index: 1000;
}

.nm-top-bar-text {
  > ul {
    @include scut-list-divided("/", .5em) {
      opacity: .5;
    }

    em {
      font-style: normal;
      opacity: .6;
    }
  }
}

.nm-top-bar .nm-menu > li > a {
  line-height: 37px;
  vertical-align: top;
}

#nm-mobile-menu a {
  display: block;
}


#nm-mobile-menu-button {
  opacity: 1 !important;
}

#nm-mobile-menu {
  background: none;

  .nm-mobile-menu-content {
    background: #fff;

    li {
      border: 0;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
    }
  }
}

.hamburger-box {
  margin-bottom: -4px;
}

.hamburger:hover {
  opacity: 1;
}

.header-light {
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #fff;
  }
  &.mobile-menu-open .nm-header {
    background: transparent !important;
  }
}
