// @import 'https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Playfair+Display:400,400i,700,900';
// @import 'myriad-set-pro.css';
@import '../fonts/fi/flaticon.css';

@mixin font-awesome {
  content: "";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 0.2em;
}

@mixin font-nm {
  content: "";
  font-family: 'nm-font' !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 0.2em;
}

@mixin big-number {
  position: absolute;
  z-index: -1;
  opacity: .15;
  font-size: 140px;
  font-weight: 900;
  line-height: .8;

  top: -30px;
  left: -48px;
}

@mixin big-number-before($number: "1") {
  position: relative;
  z-index: 0;

  &:before {
    content: $number;
    @include big-number;
  }
}

@mixin fancy-bottom {
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background: $clr-highlight;
    transition: width .2s ease;
  }

  &:hover:after {
    left: 0;
    width: 100%;
  }
}

$body-fonts: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@if variable-exists(font-primary) {
  $body-fonts: $font-primary, $body-fonts;
}

// $body-fonts: 'Myriad Set Pro', $body-fonts;

$heading-fonts: $body-fonts;
@if variable-exists(font-secondary) {
  $heading-fonts: $font-secondary, $heading-fonts;
}

html, body {
  width: 100%;
}

body {
  font-family: $body-fonts;
  font-weight: 400;
}

// UTILITIES

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: map-get($grid-breakpoints, sm)) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
 .text-lg-left { text-align: left; }
 .text-lg-right { text-align: right; }
 .text-lg-center { text-align: center; }
 .text-lg-justify { text-align: justify; }
}

.text-light {
  color: #fff;
}

.accent {
  color: $clr-highlight;
}

.bg-accent {
  background: $clr-highlight;
  color: #fff;
}

// h1 { font-size: 3.2rem; }
// h2 { font-size: 2.8rem; }
// h3 { font-size: 2.6rem; }
// h4 { font-size: 2.3rem; }
// h5 { font-size: 2rem; }
// h6 { font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-fonts;
  // font-weight: 400;
  // letter-spacing: -.04em;
  font-weight: 300;
}

h4, h5, h6 {
  font-family: $body-fonts;
  font-weight: 400;
  // font-weight: 300;
  letter-spacing: normal;
}

.jumbo {
  h1 {
    font-size: scut-rem(30px) + 1.6rem;
    // line-height: 1;
    margin-bottom: .2em;
    margin-left: -2px;
    margin-right: -2px;
  }
  h2 { font-size: scut-rem(28px) + 1rem; }
  h3 { font-size: scut-rem(24px) + .5rem; }
  // h4 { font-size: scut-rem(22px) + 1rem; }
  // h5 { font-size: scut-rem(18px) + 1rem; }
  // h6 { font-size: scut-rem(16px) + 1rem; }

  // h1, h2, h3, h4, h5, h6 {
  //   font-weight: 300;
  // }

  h4, h5, h6 {
    font-weight: 400;
  }

  @include media-breakpoint-down(sm) {
    h1 { font-size: scut-rem(30px) + .5rem; }
    h2 { font-size: scut-rem(28px); }
    h3 { font-size: scut-rem(24px); }
  }

  &.text-light,
  .text-light & {
    h1, h2, h3, h4, h5, h6, p {
      color: #fff;
    }

    h4, h5, h6 {
      opacity: .5;
      // color: rgba(#fff, .8);
    }

    .accent {
      color: inherit;
    }
  }
}

.preheader {
  opacity: .5;
  margin-bottom: -.5em;

  .text-light & {
    opacity: .6;
    // mix-blend-mode: overlay;
  }
}

.heading-margins {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
  }
}

.playfair {
  h1 {
    font-family: 'Playfair Display', $heading-fonts;
    letter-spacing: -.025em;
  }
}

.center {
  text-align: center;
}

b, strong {
  font-weight: 600;
}

address {
  font-style: normal;
}

//
// .dark {
//   color: #fff;
// }


.nm-row.dark {
  color: #ddd;

  // h1, h2, h3, h4, h5, h6, p {
  //   color: #fff;
  // }

  a {
    transition: all .3s ease;
    opacity: .6;
  }

  a:hover {
    opacity: 1;
  }
}

.hj-heading {
  position: relative;
  padding-bottom: 10px;
  font-weight: 300;
  text-transform: capitalize;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2rem;
    height: 2px;
    background: $clr-highlight;
  }

  em {
    font-style: normal;
    opacity: .5;
  }
}

.hipster-border {
  position: relative;
  padding: 4rem;
  margin-bottom: 1.5rem;

  &:before,
  &:after {
    position: absolute;
    content: "";
    border: 5px solid $clr-highlight;
    top: -.5rem;
    left: -.5rem;
    width: 100%;
    height: 100%;
    opacity: .5;
  }

  &:after {
    border: 5px solid $clr-heading;
    top: .5rem;
    left: .5rem;
  }
}

// NM-BANNER

// nm-banner text size
.nm-banner-text .nm-banner-title {
  color: $clr-heading;
  line-height: 1.2;
}
.nm-banner-text .nm-banner-title.small {
  font-size: 20px;
}
.nm-banner-text .nm-banner-title.medium {
  font-size: 28px;
}
.nm-banner-text .nm-banner-title.large {
  font-size: 34px;
}
.nm-banner-text .nm-banner-subtitle {
  display: block;
  font-size: 16px;
  line-height: 1.4;
  color: $clr-main-font;
  margin-top: 15px;
}

.nm-banner.text-color-light .nm-banner-text .nm-banner-title { color: #fff; }
.nm-banner.text-color-light .nm-banner-text .nm-banner-subtitle { color: rgba(#fff, .8); }
.nm-banner.text-color-light .nm-banner-text .nm-banner-link {
  color: rgba(#fff, .8);
  border-bottom-color: rgba($clr-heading, .8);
}
.nm-banner-text .nm-banner-link:hover,
.nm-banner.text-color-light .nm-banner-text .nm-banner-link:hover { color: #dc9814; }


// .nm-banner-text .nm-banner-title {
//   line-height: 1;
//
//   &.small {
//     font-size: 3rem;
//
//     @include media-breakpoint-down(md) {
//       font-size: 2rem;
//     }
//   }
//   &.medium {
//     font-size: 4rem;
//
//     @include media-breakpoint-down(md) {
//       font-size: 3rem;
//     }
//   }
//   &.large {
//     font-size: 5rem;
//
//     @include media-breakpoint-down(md) {
//       font-size: 3.5rem;
//     }
//   }
// }
//
// .nm-banner-text .nm-banner-subtitle {
//   font-size: 3rem;
//
//   @include media-breakpoint-down(md) {
//     font-size: 2rem;
//     margin: 0;
//   }
// }
//
// .nm-banner.text-color-light .nm-banner-text .nm-banner-subtitle {
//   color: #fff;
//   opacity: .5;
// }
