// ACCOUNT

.woocommerce-account {
  $clr-page-account: #303841;
  $clr-page-account-2: #3A4750;
  $clr-page-account-3: #EA9215;
  $clr-page-account-4: #EA9215;

  .nm-page-wrap {
    background: $clr-page-account;
  }

  .nm-page-wrap-inner {
    padding-top: 4em;

    .nm-myaccount-login,
    .nm-myaccount-lost-reset-password {
      margin: 6em auto;
      background: #fff;
      border-radius: 5px;
      max-width: 520px;
      padding: 2em;

      h2 {
        font-size: 2em;
      }

      .form-actions {
        margin-bottom: 0;
      }
    }

    .lost_reset_password {
      h2 {
        text-align: center;
      }
    }
  }

  .nm-shop-notice.woocommerce-info {
    color: $clr-green-a700;
  }

  .woocommerce-MyAccount-content {
    padding: 4em;
    background: #fff;
    border-radius: 3px;

    @include media-breakpoint-down(md) {
      padding: 2em;
    }

    .woocommerce-Message .button {
      margin-right: 1em;
    }

    .wppb-edit-user {
      margin-top: -4em;
    }

    .woocommerce-EditAccountForm fieldset legend {
      font-size: 2em;
      font-weight: 300;
    }

    .shop_table tr td:last-child a {
      padding-right: 15px !important;
    }

    .membership-actions {
      .cancel {
        background: $clr-red;
      }
    }

    .woocommerce-Address {
      h3 {
        font-size: 1.8em;
      }
      // address {
      //   font-size: 1.2em;
      //   line-height: 1.4;
      // }
      .edit {
        display: inline-block;
        border: 1px solid $clr-highlight;
        color: $clr-highlight;
        margin-top: 1em;
        padding: .3em 1.2em;
        font-size: 1.2em;
        border-radius: 3px;
        transition: all .3s ease;

        &:hover {
          opacity: .7;
        }
      }
    }

    input[type=submit] {
      padding: 1em 1.5em;
      font-size: 1.8em;
      font-weight: 300;
    }

    h2:not(:first-child) {
      margin-top: 2em;
    }

    .addresses {
      margin-top: 1.4em;
    }
  }

  .woocommerce-MyAccount-navigation {
    padding-right: 3em;
    text-align: right;

    @include media-breakpoint-down(md) {
      padding-right: 0;
      text-align: center;
    }

    .nm-MyAccount-user {
      background: none !important;
      margin-bottom: 4em;

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }

    .nm-MyAccount-user-image {
      display: block !important;
      margin: 0 0 1em auto;

      @include media-breakpoint-down(md) {
        margin: 0 auto 1em;
      }
    }

    .nm-MyAccount-user-info {
      .nm-username {
        color: #fff;

        strong {
          color: $clr-page-account-3;
        }
      }

      // .nm-logout-button.border {
      //   display: inline-block;
      //   border: 1px solid #fff;
      //
      //   &:hover {
      //     color: #fff;
      //     opacity: .7;
      //   }
      // }

      .nm-logout-button.border {
        font-size: 1em;
        border: 2px solid #fff;
        border-radius: 5px;
        // border-radius: 10em;
        padding: 6px 12px;
        transition: all .3s ease;

        &:hover {
          opacity: .7;
          // border-color: $clr-highlight;
          // color: $clr-highlight;
        }
      }
    }

    a {
      color: #fff !important;
      transition: all .3s ease;

      &:hover {
        color: #fff !important;
        opacity: .7;
      }
    }

    ul {
      display: block;

      li {
        display: block;
        width: 100%;

        &.woocommerce-MyAccount-navigation-link--customer-logout {
          display: none;
        }

        a {
          display: inline-block;
          padding-bottom: .2em;
          border-bottom: 0;
        }

        &.is-active {
          a {
            border-bottom: 2px solid #fff;
            color: #fff;
          }
        }
      }

      @include media-breakpoint-down(md) {
        li {
          display: inline-block;
          width: auto;

          &:before {
            content: "/";
            padding: 0 .5em;
          }

          &:first-child:before {
            content: "";
          }
        }
      }
    }
  }

  .dashboard-links {
    margin: 0 -15px;
    display: flex;
    flex-flow: row wrap;

    .woocommerce-MyAccount-navigation-link {
      padding: 15px;
      width: calc(100% / 3);
      flex-basis: calc(100% / 3);

      @include media-breakpoint-down(sm) {
        width: calc(100% / 2);
        flex-basis: calc(100% / 2);
      }

      > div {
        height: 140px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        position: relative;
      }

      a {
        color: $clr-main-font;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid #ebebeb;
        border-radius: 5px;
        transition: all .3s ease;

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        &:before {
          font-family: FontAwesome;
          content: "\f013";
          display: block;
          font-size: 30px;
          color: tint($clr-main-font, 50);
          transition: all .3s ease;
        }

        &:hover {
          border-color: $clr-green-a400;
          background: tint($clr-green-a400, 98);
          color: #1b1752;
          // box-shadow: 0 0 10px tint($clr-green-a400, 80);

          &:before {
            color: #1b1752;
          }
        }
      }
    }

    .woocommerce-MyAccount-navigation-link--dashboard {
      display: none;
    }

    .woocommerce-MyAccount-navigation-link--orders a:before {
      content: "\f07a";
    }

    .woocommerce-MyAccount-navigation-link--downloads a:before {
      content: "\f019";
    }

    .woocommerce-MyAccount-navigation-link--edit-address a:before {
      content: "\f041";
    }

    .woocommerce-MyAccount-navigation-link--edit-account a:before {
      content: "\f007";
    }

    .woocommerce-MyAccount-navigation-link--customer-logout a:before {
      content: "\f08b";
    }
  }
}

.nm-woocommerce-account-login,
.nm-login-popup-wrap {
  .nm-login-form-divider {
    &:before {
      display: none;
    }
    span {
      background: none;
    }
  }

  .wc-social-login {
    margin-top: 4em;
    text-align: center;

    p {
      margin-bottom: 0;
    }
  }
}

#wc-memberships-members-area {
  h2 {
    font-size: 2.4em;
    text-align: center;
    margin-bottom: 4rem;
  }

  .my-membership-tabs-wrapper {
    margin-bottom: 4rem;

    ul {
      text-align: center;
      font-size: 1.2em;

      li {
        a {
          @include fancy-bottom;
          padding-bottom: .2em;
        }

        &:after {
          content: "/";
          padding: 0 .5em;
          opacity: .5;
        }

        &:last-child:after {
          content: "";
        }
      }

    }
  }
}


.nm-MyAccount-dashboard {
  > p:first-child {
    font-size: 1.6em;
    font-weight: 300;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

#wc-haje-edar {
  margin-top: 4em;
  padding: 3em;
  border-radius: 5px;
  background: #CBF9DA;
  text-align: center;
  color: #122D42;

  @include media-breakpoint-down(md) {
    padding: 2em 1em;
  }

  svg {
    width: 140px;
    display: block;
    margin: 0 auto;

    polygon,
    path {
      fill: #122D42;
    }

    .haje-top {
      fill: #20d4cd;
    }
  }

  h2 {
    margin: 1em 0;
    color: #122D42;

    // position: relative;
    // background: url(../images/lace.svg) no-repeat;
    // background-size: contain;
    // padding-left: 80px;
    // line-height: 64px;
    // display: inline-block;

    // &:before {
    //   content: "HE";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   border-radius: 50%;
    //   width: 64px;
    //   height: 64px;
    //   background: linear-gradient(to bottom, $clr-blue-a200, shade($clr-blue-a700, 20));
    //   color: #fff;
    //   font-weight: 700;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    // }
  }

  .discount-wrapper {
    display: flex;
    flex-flow: row wrap;

    .discount {
      // width: 25%;
      flex: 1 0 200px;

      padding: 3em 1em;
      margin: 10px;
      background: #122D42;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(#11827e, 0.1);

      .quantity {
        font-size: 1.4em;
        font-weight: 300;

        // &:before {
        //   content: "Quantity";
        //   opacity: .5;
        //   display: block;
        //   font-size: 1.2rem;
        //   line-height: 1;
        //   font-weight: 600;
        //   text-transform: uppercase;
        // }
      }

      .percent {
        font-size: 2.4em;
        font-weight: 300;
        color: #20d4cd;
      }
    }
  }
}
