$new:        $clr-orange-a700;
$sale:       $clr-green-a700;
$edar:       $clr-blue-grey;
$preorder: $clr-cyan-a700;

@mixin label {
  position: static;
  display: inline-block;
  margin: 0;
  padding: 2px 4px;
  background: none;
  border: 1px solid $clr-saleflash-bg;
  border-radius: 3px;
  font-size: .75em;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: $clr-saleflash-bg;
  vertical-align: baseline;
  overflow: hidden;
}

// BUTTONS

.product-summary .button {
  // margin-top: 2em;
  padding: 1.2em 1em;
  font-size: 1.4em;
  font-weight: 300;
}

.woocommerce-cart,
.woocommerce-checkout {
  .woocommerce > form {
    .button,
    .button-alt {
      padding: 1.2em 1em;
      font-size: 1.4em;
      font-weight: 300;
    }
  }

  .checkout-button,
  #place_order {
    padding: 1.2em 1em;
    font-size: 1.8em;
    font-weight: 300;
  }
}

#nm-widget-panel .buttons .button.checkout {
  padding: 1.2em 1em;
  font-size: 1.6em;
  font-weight: 300;
}

// SHOP HERO

#shop-hero {
  @extend .text-xs-center, .jumbo;
  padding-top: 2em;
  // padding-bottom: 0;
  // background: linear-gradient(to bottom right, $clr-blue-a200, $clr-blue-900 100%);
  // background: url(../images/wavy.jpg) no-repeat center top;
  // background-size: cover;
}

// TYPOGRAPHY

.upsells h2, .related h2,
.woocommerce-cart .woocommerce > form > h3,
.cart-collaterals > h2,
#customer_details h3,
#order_review_heading,
#nm-wishlist h1,
.woocommerce-edit-address .woocommerce-MyAccount-content h2 {
  font-size: 2.2em;
  // @extend .hj-heading;
  // margin-bottom: 1.5em;
}

#order_review_heading {
  float: right;
  width: 33.33333333%;
}

#matrix_form {
  max-width: $max-width - ($gutter * 4);
  margin: 0 auto 4em;
}

// .decimals {
//   font-size: .6em;
//   position: relative;
//   bottom: .4em;
//   padding-left: .1em;
//
//   .point {
//     display: none;
//   }
// }

// LOOPS

.nm-shop-products-col {
  overflow: visible;
}

.nm-products {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    letter-spacing: normal;
  }
}

.nm-products li {
  padding: 6px;

  .shop-loop-wrapper {
    overflow: hidden;
    padding: 20px;
    border-radius: 5px;
    // border: 1px solid transparent;
    transition: all .5s ease;
    position: relative;
    z-index: 1000;
  }

  &:hover {
    .shop-loop-wrapper {
      // border-color: #f4f4f4;
      box-shadow: 0 5px 30px rgba(#000, .1), 0 0 5px rgba(#000, .1);
      // transform: translateY(-5px);
    }
  }

  .nm-shop-loop-thumbnail {
    // border-radius: 4px;
    overflow: hidden;
    z-index: 100;
    margin: -21px -21px 0;

    > a > img {
      // transition: transform 1.5s ease, opacity .3s ease;
      transition: all 2s ease;
      transform-origin: center 30px;
    }

    > a > .product-flash {
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 100;
      line-height: 1;
      transition: all .3s ease;

      .onsale,
      .isnew,
      .haje-edar,
      .preorder {
        @include label;
        background: rgba(#fff, .9);

        @include media-breakpoint-down(sm) {
          font-size: .675em;
          font-weight: 400;
          padding: 1px 2px;
        }
      }
      .onsale {
        border-color: $sale;
        color: $sale;
      }
      .isnew {
        border-color: $new;
        color: $new;
      }
      .haje-edar {
        border-color: $edar;
        color: $edar;
      }
      .preorder {
        border-color: $preorder;
        color: $preorder;
      }
    }

    > a > img.product-watermark {
      position: absolute;
      z-index: 10;
      bottom: 12px;
      left: 20px;
      width: 30px;
      height: auto;
      opacity: .5;
      transition: all .2s ease;
    }
  }

  &:hover {
    .nm-shop-loop-thumbnail {
      img:not(.product-watermark) {
        // transform: scale(1.5);
      }

      img.product-watermark {
        opacity: 1;
      }
    }
  }

  .nm-shop-loop-details {
    margin-top: 20px;
    overflow: visible;
    // width: calc(100% - 1px);
    padding-bottom: 0;

    .nm-shop-loop-wishlist-button {
      top: auto;
      bottom: 20px;
      z-index: 10;
    }

    .nm-wishlist-button {
      opacity: 0;
      transform: translateX(20px);
      transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      overflow: visible;

      &:before {
        content: "Wishlist";
        font-size: .7em;
        line-height: 17px;
        white-space: nowrap;
        position: absolute;
        right: 22px;
        text-shadow: 0 0 10px rgba(#fff, .9);
        opacity: 0;
        transform: translateX(10px);
        transition: all .3s ease;
      }

      i {
        transition: none;
      }

      &:hover {
        color: $clr-highlight;

        &:before {
          transform: translateX(0);
          opacity: 1;
        }

        i:before {
          content: "\f08a";
        }
      }
    }

    .nm-wishlist-button.added {
      opacity: 1;
      transform: translateX(0);

      &:before {
        content: "Remove wishlist";
      }
    }

    // .haje-edar {
    //   @include label;
    //   position: absolute;
    // }
  }

  &:hover {
    .nm-shop-loop-details {
      .nm-wishlist-button {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .nm-shop-loop-after-title {
    line-height: 24px;
    margin-top: 5px;
    padding-bottom: 0;
    font-size: 16px;
    min-height: auto;

    .nm-shop-loop-price {
      line-height: 1;

      .price {
        font-size: 1.4em;
        font-weight: 300;

        del {
          display: inline-block;
          opacity: .3;
        }

        ins {
          display: inline-block;
        }
      }

      .preorder-release-date {
        margin: .5em 0;
        font-size: .8em;
        opacity: .5;
      }
    }

    .nm-shop-loop-actions {
      position: absolute;
      top: auto;
      bottom: 0;
      left: auto;
      right: 0;
      // background-image: linear-gradient(to right, rgba(#fff, 0) 0, #fff 40px);
      // padding-left: 50px;
      opacity: 0;
      transform: translateX(20px);
      transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .nm-shop-loop-actions > a {
      display: block;
      // border: 2px solid #e1e1e1;
      border: 0;
      color: #8c8c8c;
      border-radius: 4px;
      background: #fff;
      // padding: .3em .5em;
      // font-size: .7em;
      font-size: 16px;
      // font-weight: 700;
      line-height: 1;
      // text-transform: uppercase;
      transition: all .2s ease;

      &:before {
        content: "Quickview";
        font-size: .7em;
        line-height: 17px;
        white-space: nowrap;
        position: absolute;
        right: 22px;
        text-shadow: 0 0 10px rgba(#fff, .9);
        opacity: 0;
        transform: translateX(10px);
        transition: all .3s ease;
      }

      &:hover {
        color: $clr-highlight;
        // border-color: $clr-highlight;
        // background: $clr-highlight;
        // color: #fff;

        &:before {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }

  &:hover {
    .nm-shop-loop-after-title {
      .nm-shop-loop-price {
        opacity: 1;

        .price del {
          display: none;
        }

        .price ins {
        }
      }

      .nm-shop-loop-actions {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

// SINGLE PRODUCT

// .nm-single-product-top {
//   display: none;
// }

.nm-single-product-showcase {
  padding: 4em 0;
}

// .nm-single-product-bg {
//   background-image: url(../images/waves4-grey.svg);
//   background-repeat: no-repeat;
//   background-position: bottom;
//   background-size: cover;
// }

// .nm-single-product-showcase > .nm-row {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   box-align: center;
//
//   > .nm-product-thumbnails-col,
//   > .nm-product-images-col,
//   > .nm-product-summary-col {
//   }
// }

// .nm-product-thumbnails-col,
// .nm-product-images-col,
// .nm-product-summary-col {
//   display: flex;
//   align-items: center;
// }

.nm-single-product .product-summary,
.nm-qv-summary {
  text-align: center;

  .initials {
    border-radius: 100%;
    background: #ccc linear-gradient(to bottom, transparent, #999);
    color: #fff;
    font-size: 2em;
    font-weight: 900;
    width: 72px;
    height: 72px;
    margin: 0 auto .4em;
    display: flex;
    align-items: center;
    justify-content: center;
    // vertical-align: 10%;
    // position: absolute;
    // top: -4px;
    // left: -48px;

    .product-kurta-signature & {
      $color: #d6243b;
      background: linear-gradient(to bottom, $color, darken($color, 20));
    }

    .product-kurta-prelude & {
      $color: #3b7777;
      background: linear-gradient(to bottom, $color, darken($color, 20));
    }

    .product-kurta-define & {
      $color: #f5cf5f;
      background: linear-gradient(to bottom, $color, darken($color, 20));
    }

    .product-kurta-upright & {
      $color: #335bee;
      background: linear-gradient(to bottom, $color, darken($color, 20));
    }
  }

  .product_title {
    font-size: 2.4em;
    font-weight: 300;
    color: tint($clr-heading, 60);
  }

  .price {
    padding-top: .6em;
    padding-bottom: 1.4em;

    .amount {
      font-size: 2em;
      font-weight: 300;
    }

    del .amount,
    ins .amount {
      font-size: 2em;
    }

    del .amount {
      opacity: .3;
    }
  }

  .product-flash {
    // position: relative;
    // top: -.5em;
    // display: inline-block;
    margin-left: .5em;
    line-height: 1;
    vertical-align: middle;
    // float: right;

    .onsale,
    .isnew,
    .haje-edar,
    .preorder {
      @include label;
      line-height: 1;
      margin: 0 2px;
    }
    .onsale {
      border-color: $sale;
      color: $sale;
    }
    .isnew {
      border-color: $new;
      color: $new;
    }
    .haje-edar {
      border-color: $edar;
      color: $edar;
      padding-right: 14px;
      position: relative;

      .info {
        display: block;
        line-height: 1;
        position: absolute;
        right: 0;
        top: 0;
        padding: 2px 4px;

        // background: $edar;
        // color: #fff;
        // padding: 1px 4px;
        // margin-right: -4px;
      }
    }
    .preorder {
      border-color: $preorder;
      color: $preorder;
    }
  }

  .preorder-release-date {
    padding-bottom: 1em;
    font-size: 1.2em;
    font-weight: 300;
    color: tint($clr-main-font, 50);
  }

  .product-short-description {
    line-height: 1.4;
    padding-bottom: 2em;
  }

  .preorder-notice {
    margin-bottom: 2em;
    font-size: 1em;
    line-height: 1.4;
    padding: 1em;
    border: 2px solid $preorder;
    border-radius: 3px;
    color: $preorder;
  }

  .woocommerce-variation.single_variation {
    padding-top: 0 !important;

    .woocommerce-variation-availability {
      padding-bottom: 0;

      .stock.in-stock {
        display: none;
      }
    }
  }

  .quantity .nm-qty-minus,
  .quantity .nm-qty-plus {
    color: #282828 !important;
  }

  .nm-product-share-wrap.has-share-buttons {
    .nm-product-wishlist-button-wrap a {
      border: 0;
    }
    .nm-product-share {
      float: right;

      a:last-child {
        margin: 0;
      }
    }
  }

  // .haje-edar {
  //   background: #CBF9DA;
  //   color: #122D42;
  //   line-height: 1.4;
  //   border-radius: 3px;
  //   text-align: left;
  //   display: flex;
  //   align-items: center;
  //
  //   .haje-edar-logo {
  //     padding: 1em 1em .7em;
  //     width: 20%;
  //     svg {
  //       width: 40px;
  //       polygon,
  //       path {
  //         fill: #122D42;
  //       }
  //       .haje-top {
  //         fill: #20d4cd;
  //       }
  //     }
  //   }
  //
  //   .haje-edar-text {
  //     padding: 1em;
  //     width: 80%;
  //     font-size: .9em;
  //   }
  // }
}

.nm-single-product-showcase,
#nm-quickview {
  .images .product-flash {
    display: none;
  }
}

.product_meta {
  background: $clr-single-bg;
}

.woocommerce-tabs .tabs li a {
  position: relative;
  border-bottom: 2px solid transparent;

  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 5px;
    height: 5px;
    background: $clr-highlight;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(20px);
  }
}

.shop_attributes tr th {
  text-align: right;
  padding-right: 2em;
}

#nm-quickview {
  .initials {
    width: 54px;
    height: 54px;
    font-size: 1.6em;
  }

  .product-short-description {
    padding-bottom: 1.4em;
  }
}

// SLIDER

.slick-prev {
  left: -3em;
}
.slick-next {
  right: -3em;
}

$arrow-size: 48px;

.slick-prev, .slick-next {
  top: 50%;
  margin-top: 0;
  transform: translateY(-50%);
  opacity: 0;
  width: $arrow-size;
  height: $arrow-size;
  line-height: $arrow-size;
  transition: .3s ease;

  &:before {
    display: none;
  }

  i {
    padding-top: 6px;
    font-size: $arrow-size !important;
    width: $arrow-size;
    height: $arrow-size;
    line-height: $arrow-size;
    // background: rgba(#fff, .6);
    // color: $clr-heading;
    // border-radius: 50%;
    transition: all .2s ease;
  }

  // &:not(.slick-disabled) {
  //   i:hover {
  //     background: $clr-highlight;
  //     color: #fff;
  //   }
  // }
}

.slick-prev i {
  transform: translateX(6%);
}
.slick-next i {
  transform: translateX(-6%);
}

.nm-single-product .images {
  overflow: hidden;
}

#nm-product-images-slider.slick-slider,
#nm-quickview-slider.slick-slider {
  .slick-prev, .slick-next {
    background: $clr-single-bg;
    border-radius: 5px;
  }

  &:hover {
    .slick-prev {
      left: -8px;
    }
    .slick-next {
      right: -8px;
    }
  }
}

#nm-quickview-slider.slick-slider {
  .slick-prev, .slick-next {
    background: #fff;
  }
}

.slick-slider:hover {
  .slick-prev, .slick-next {
    &.slick-disabled {
      opacity: .3;
    }
  }

  // .slick-prev.slick-disabled {
  //   left: -3em !important;
  // }
  // .slick-next.slick-disabled {
  //   right: -3em !important;
  // }
}

.nm-product-slider .slick-slider {
  .slick-prev, .slick-next {
    top: 40%;
    background: #fff;
    border-radius: 5px;
  }
}

.nm-product-slider .slick-slider:hover {
  .slick-prev {
    left: 3px;
  }
  .slick-next {
    right: 3px;
  }
}

#nm-product-thumbnails-slider .slick-slide img {
  transition: all .3s ease;

  &:hover {
    opacity: 1;
  }
}

// SINGLE PRODUCT NAV

// .nm-single-product-menu {
//   display: none;
// }

.hj-nav-prev,
.hj-nav-next {
  display: block;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;

  z-index: 10;

  color: $clr-heading;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  > i {
    position: relative;
    float: left;
    display: block;
    padding: 5px 8px 0 5px;
    font-size: 45px;
    line-height: 60px;
    height: 60px;
    overflow: hidden;
    background: #fff;
    z-index: 20;
    border-radius: 0 5px 5px 0;
    transition: all .3s ease;
  }

  > img {
    position: relative;
    float: left;
    z-index: 17;
    height: 60px;
    opacity: 0;
    transition: all .3s ease;
    transform: translateX(-100%);
  }

  .info {
    position: relative;
    float: right;
    line-height: 1;
    white-space: nowrap;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    padding: 0 1em;
    border-radius: 0 5px 5px 0;
    background: #fff;
    opacity: 0;
    transform: translateX(-100%);
    z-index: 15;
    transition: all .3s ease;

    > span {
      display: block;
    }

    .title {
      margin-bottom: .2em;
    }

    .price {
      .amount {
        color: $clr-highlight;
      }
      del,
      del .amount {
        color: #aaa;
      }
      ins {
        background: none;
      }
    }
  }

  &:hover {
    > i {
      border-radius: 0;
    }

    > img {
      opacity: 1;
      transform: translateX(0);
    }

    .info {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

// RELATED PRODUCTS

#nm-related {
  .nm-products {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    @include media-breakpoint-up(md) {
    }
  }
}

// CART COUNTER

#nm-menu-cart-btn {
  position: relative;
}

.nm-menu-cart-count.count {
  // // position: absolute;
  // // top: 8px;
  // // right: -5px;
  // // display: block;
  // padding: 0 .5rem;
  // border: 1px solid $clr-highlight;
  // // background: $clr-highlight;
  // // color: #fff !important;
  // // width: auto;
  // // min-width: 20px;
  // // height: 1.4rem;
  // font-size: 1.1rem;
  // line-height: 1.4rem;
  // border-radius: 5rem;
  // text-align: center;
  // font-weight: 700;

  &.nm-count-zero {
    display: none !important;
  }
}

.header-light .nm-menu-cart-count.count {
  color: #fff;
  opacity: .7;
  // background: #fff;
  // border-radius: 50px;
  // padding: 0 .4em;
}

// MINI CART

// .nm-widget-panel-header-inner {
//   border-bottom: 0;
// }

#nm-widget-panel .product_list_widget .remove {
  transition: all .3s ease;
  &:hover {
    color: $clr-pink-a400;
  }
}

.widget-panel-dark .nm-widget-panel .nm-widget-panel-inner {
  background: #333;
}

.nm-widget-panel .product_list_widget .empty {
  &:before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 120px;
    margin: 40px 0 20px;
    background: url(../images/sad.svg) no-repeat top center;
    background-size: contain;
    opacity: .15;
  }
  padding-top: 0;
  text-align: center;
  font-size: 1.6em;
}

#nm-widget-panel .nm-cart-panel-item-price {
  margin-top: 10px;
  margin-bottom: 10px;
}

// .nm-widget-panel .product_list_widget .remove {
//   margin-top: 10px;
// }

.widget-panel-dark .nm-widget-panel .product_list_widget .empty:before {
  background: url(../images/sad-white.svg) no-repeat top center;
  background-size: contain;
}

#nm-cart-panel-loader.show {
  text-align: center;
  padding-top: 100px;
}
#nm-cart-panel-loader h5 {
  display: inline-block;
  padding-left: 24px;
}
// #nm-cart-panel-loader h5:after {
//   // top: 20%;
//   // transform: translateY(-50%);
// }

// CART / CHECKOUT

.woocommerce-cart {
  #nm-cart-continue-button {
    border-color: $clr-green-a700;
    color: $clr-green-a700;

    &:hover {
      border-color: $clr-main-font;
      color: $clr-main-font;
    }
  }

  .product-price {
    del {
      display: inline-block;
      padding: 3px 0;
      padding-right: 6px;
    }
    ins {
      display: inline-block;
      padding: 3px 0;
      padding-right: 6px;
      background: none;
      color: $clr-highlight;
    }

    .discount-percent {
      display: inline-block;
      padding: 2px 5px;
      border-radius: 3px;
      font-size: .8em;
      font-weight: 600;
      line-height: 1;
      vertical-align: 1px;
      border: 1px solid $sale;
      color: $sale;
      text-transform: uppercase;
    }
  }

  .shop_table.cart .nm-product-quantity-pricing .product-subtotal {
    // float: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

// .woocommerce-checkout .page > .woocommerce {
//   .order_details {
//     margin-top: 3rem;
//     // margin: 5rem auto 0;
//     width: 30%;
//     float: left;
//     // max-width: 640px;
//
//     // border: 2px solid #eee;
//     // padding: 1em 1.2em;
//   }
//
//   #molpay_payment_form {
//     margin-top: 1.5rem;
//     margin-bottom: 10rem;
//     width: 68%;
//     float: right;
//     // max-width: 640px;
//
//     h3 {
//       u {
//         text-decoration: none;
//         display: none;
//       }
//       img {
//         display: block;
//         margin-left: -22px;
//       }
//     }
//
//     .molpay-channels {
//       margin: 0 -5px;
//       button {
//         border: none;
//         outline: none;
//         margin: 5px !important;
//         // opacity: .6;
//         transition: all .3s ease;
//         filter: grayscale(100%);
//
//         &:hover {
//           // opacity: 1;
//           filter: grayscale(0);
//         }
//       }
//     }
//   }
//
//   @include media-breakpoint-down(sm) {
//     .order_details,
//     #molpay_payment_form {
//       width: 100%;
//       float: none;
//     }
//
//   }
// }

tr.shipping td {
  .woocommerce-Price-amount {
    float: right;
  }
}

strong.product-quantity {
  opacity: .5;
}

#payment {
  ul.wc_payment_methods {
    li {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &.single-method li {
    }

    li.wc_payment_method {
      padding-left: 10px;
      transition: all .3s ease;

      label {
        padding-left: 0 !important;

        .nm-gateway-title {
          display: inline-block;
          border: 1px solid transparent;
          background: none;
          line-height: 1;
          padding: 6px 8px;
          border-radius: 2em;
          transition: all .3s ease;
        }

        &:before {
          display: none;
        }
      }

      .payment_box {
        margin-top: 1em;
        padding-left: 9px;
      }

      img {
        display: block;
        float: right;
        margin-top: 2px;
      }

      &.payment_method_molpay {
        img {
          max-height: none;
          max-width: 60%;
        }
      }

      &:hover {
        background: #fafafa;

        label {
          .nm-gateway-title {
            border-color: $clr-grey-600;
          }
        }
      }

      &.active {
        background: #fafafa;

        label {
          font-weight: 700;

          .nm-gateway-title {
            border: 1px solid $clr-button-bg;
            background: $clr-button-bg;
            color: #fff;
          }
        }
      }
    }
  }
}

.woocommerce-order-pay {
  ul.order_details {
    margin-top: 6em;
    text-align: center;
  }

  form {
    margin-top: 2em;
    text-align: center;
  }

  .button {
    margin: 0 5px;
  }

  .button.cancel {
    background: $clr-red;
  }
}

.woocommerce-order-received {
  font-size: 1.6em;

  .thankyou-heart {
    position: relative;
    margin-bottom: 3em;

    height: 200px;

    $strokeColor: $clr-blue-grey-200;
    $heartColor: $clr-pink;
    $size: 150px; // change this to manipulate overall size
    $totalAnim: 7s;
    $delay: 1s;
    $squareLen: 240;
    $circleLen: 188.522;
    $heartLen: 308.522;
    $svgSize: 90px;
    $circleW: 60px;

    .heart-loader {
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      margin-top: $size/-2;
      width: $size;
      height: $size;
      overflow: visible;

      &__group {
        transform-origin: 0 $svgSize;
        animation: group-anim $totalAnim $delay infinite;
      }

      &__square {
        stroke: $strokeColor;
        stroke-dasharray: $squareLen, $squareLen;
        stroke-dashoffset: $squareLen;
        animation: square-anim $totalAnim $delay infinite;
      }

      &__circle {
        stroke: $strokeColor;
        stroke-dasharray: $circleLen, $circleLen;
        stroke-dashoffset: $circleLen;
        transform-origin: $circleW $circleW/2;

        &.m--left {
          animation: left-circle-anim $totalAnim $delay infinite;
        }

        &.m--right {
          animation: right-circle-anim $totalAnim $delay infinite;
        }
      }

      &__heartPath {
        stroke: $heartColor;
        fill: transparent;
        stroke-dasharray: $heartLen, $heartLen;
        stroke-dashoffset: $heartLen;
        animation: heart-anim $totalAnim $delay infinite;
      }
    }
    @keyframes square-anim {
      12% {
        stroke-dashoffset: 0;
      }
      43% {
        stroke-dashoffset: 0;
        opacity: 1;
      }
      85% {
        stroke-dashoffset: 0;
        opacity: 0;
      }
      100% {
        stroke-dashoffset: 0;
        opacity: 0;
      }
    }
    @keyframes left-circle-anim {
      12% {
        stroke-dashoffset: $circleLen;
      }
      31% {
        stroke-dashoffset: 0;
        transform: translateY(0);
      }
      41% {
        stroke-dashoffset: 0;
        transform: translateY($circleW/-2);
      }
      43% {
        stroke-dashoffset: 0;
        transform: translateY($circleW/-2);
        opacity: 1;
      }
      85% {
        stroke-dashoffset: 0;
        transform: translateY($circleW/-2);
        opacity: 0;
      }
      100% {
        stroke-dashoffset: 0;
        transform: translateY($circleW/-2);
        opacity: 0;
      }
    }
    @keyframes right-circle-anim {
      12% {
        stroke-dashoffset: $circleLen;
      }
      31% {
        stroke-dashoffset: 0;
        transform: translateX(0);
      }
      41% {
        stroke-dashoffset: 0;
        transform: translateX($circleW/2);
      }
      43% {
        stroke-dashoffset: 0;
        transform: translateX($circleW/2);
        opacity: 1;
      }
      85% {
        stroke-dashoffset: 0;
        transform: translateX($circleW/2);
        opacity: 0;
      }
      100% {
        stroke-dashoffset: 0;
        transform: translateX($circleW/2);
        opacity: 0;
      }
    }
    @keyframes group-anim {
      43% {
        transform: rotate(0);
      }
      54% {
        transform: rotate(-45deg);
      }
      90% {
        transform: rotate(-45deg);
        opacity: 1;
      }
      97% {
        transform: rotate(-45deg);
        opacity: 0;
      }
      100% {
        transform: rotate(-45deg);
        opacity: 0;
      }
    }
    @keyframes heart-anim {
      55% {
        stroke-dashoffset: $heartLen;
        fill: transparent;
      }
      70% {
        stroke-dashoffset: 0;
        fill: transparent;
      }
      87% {
        stroke-dashoffset: 0;
        fill: $heartColor;
      }
      100% {
        stroke-dashoffset: 0;
        fill: $heartColor;
      }
    }
  }

  .nm-checkout-ty-order-details-top {
    border-radius: 5px;
  }

  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.8em;
  }

  .addresses {
    margin-top: 1em;
  }

  .wc_pip_view_invoice {
    margin-top: 2em;
    float: right;
  }

  .customer_details {
    margin-top: 3em;
    border-top: 1px solid #e7e7e7;
  }
}

// SHOP WIDGETS / FILTER

.nm-shop-header {
  // padding-bottom: 32px;
}

.nm-shop-menu {
  @media (min-width: 768px) {
    .nm-shop-categories {
      > li {
        a {
          margin: 0 3rem 0 0;

          @include fancy-bottom;
        }

        &.current-cat a,
        &.current-parent-cat a {
          color: $clr-highlight;

          &:after {
            width: 100%;
          }
        }
      }

      .nm-shop-sub-categories {
        padding-top: 1rem;
        opacity: 0;
        transform: translateX(-2em);
        transition: all .3s ease;

        &.in {
          opacity: 1;
          transform: translateX(0);
        }

        li {
          a {
            margin: 0 3rem 0 0;
          }

          &.current-cat a {
            padding-bottom: 0;
          }
        }
      }
    }

    // // style 2
    // .nm-shop-categories-2 {
    //   // margin-left: -1.5rem;
    //   li {
    //     a {
    //       display: block;
    //       margin: 0 .5rem 0 0;
    //       padding: 0 .8em;
    //       border-radius: 3em;
    //       border: 1px solid transparent;
    //       line-height: 1.6;
    //       transition: all .2s ease;
    //       // margin: 0;
    //     }
    //
    //     &.current-parent-cat a {
    //       border-color: #f3f3f3;
    //       background: #f3f3f3;
    //     }
    //
    //     &.current-cat a {
    //       border-color: $clr-highlight;
    //     }
    //   }
    //
    //   .nm-shop-sub-categories {
    //     // padding-top: 1rem;
    //     opacity: 0;
    //     transform: translateX(-2em);
    //     transition: all .3s ease;
    //
    //     &.in {
    //       opacity: 1;
    //       transform: translateX(0);
    //     }
    //
    //     li {
    //       a {
    //         margin: 0 .5rem 0 0;
    //       }
    //
    //       &.current-cat a {
    //         padding-bottom: 0;
    //       }
    //     }
    //   }
    // }

    .nm-shop-search-btn-wrap {
      i {
        color: $clr-main-font;
        opacity: .6;
        transition: all .2s ease;
      }

      &:hover i,
      &.active i {
        color: $clr-highlight;
      }
    }
  }
}

.nm-shop-sidebar {
  .widget {
    margin-bottom: 0;
  }

  .widget .nm-widget-title {
    position: relative;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: .5em;
    margin-bottom: 1em;

    // &:after {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   bottom: 0;
    //   width: 20px;
    //   height: 1px;
    //   background: $clr-highlight;
    // }
  }

  .widget  {
    ul > li > a {
      display: block;
    }
  }

  // @include media-breakpoint-up(md) {
  //   .small-block-grid-2 {
  //     width: 50%;
  //     margin: 0 -12px 0 auto;
  //     text-align: right;
  //   }
  // }

  .nm_widget_color_filter {
    ul {
      display: flex;
      flex-flow: row wrap;
      li {
        // flex: 1;
        display: inline-block;
        margin: 0 3px 3px 0;

        a {
          position: relative;
          display: flex !important;
          align-items: center;

          line-height: 1;
          padding: 0;
          border: 0;
          border-radius: 0;
          margin: 0 !important;
          font-size: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          transition: all .3s ease;

          &:hover {
            border-color: $clr-highlight;
          }

          i.nm-filter-color {
            position: relative;
            display: inline-block;
            overflow: hidden;
            margin: 3px;
            padding: 0;
            height: 38px;
            width: 38px;
            border: 2px solid rgba(#000, .3);
            border-radius: 100%;
            background-color: transparent;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1;
            transition: all .3s ease;
            box-shadow: inset 0 0 10px rgba(#000, .2);

            // &:before {
            //   content: "";
            //   position: absolute;
            //   top: -90%;
            //   left: -60%;
            //   width: 150%;
            //   height: 150%;
            //   background-color: #fff;
            //   border-radius: 100%;
            //   opacity: .1;
            //   transition: all .3s ease
            // }

            &:hover,
            &.active {
              border: 2px solid #000 !important;
              box-shadow: none;
              // &:before {
              //   opacity: 0;
              // }
            }

            &.nm-filter-color-pattern {
              background-color: gray;
              background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, #bbb 5px, #bbb 10px);
              border-color: #bbb;
            }
          }
        }

        &.chosen {
          position: static;

          a {
            // padding-left: 24px;
            border-color: $clr-highlight;
            height: auto;

            &:before {
              display: none;
            }

            i.nm-filter-color {
              position: relative;
              color: #fff;
              box-shadow: none;

              &:after {
                position: absolute;
                font-family: 'nm-font';
                font-size: 30px;
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                content: "\e610";
                -webkit-font-smoothing: antialiased;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
              }

              &.nm-filter-color-white,
              &.nm-filter-color-pattern,
              &.nm-filter-color-peach,
              &.nm-filter-color-yellow {
                color: #333;
              }
            }
          }
        }
      }
    }
  }

  // .nm_widget_color_filter {
  //   ul {
  //     display: flex;
  //     flex-flow: row wrap;
  //     li {
  //       // flex: 1;
  //       display: inline-block;
  //       margin: 0 3px 3px 0;
  //
  //       a {
  //         position: relative;
  //         display: flex !important;
  //         // align-content: center;
  //         align-items: center;
  //
  //         line-height: 24px;
  //         // height: 28px;
  //         padding: 0 8px 0 2px;
  //         border: 1px solid #ccc;
  //         border-radius: 30px;
  //         // max-width: 100%;
  //         // max-width: calc(100% + 12px);
  //         // margin-top: -3px;
  //         margin: 0 !important;
  //         font-size: 12px;
  //         text-overflow: ellipsis;
  //         white-space: nowrap;
  //         overflow: hidden;
  //         transition: all .3s ease;
  //
  //         &:hover {
  //           border-color: $clr-highlight;
  //         }
  //
  //         i.nm-filter-color {
  //           width: 20px;
  //           height: 20px;
  //           margin-right: .5em;
  //           border: 1px solid rgba(#000, .2) !important;
  //           // vertical-align: middle;
  //         }
  //         // i.nm-filter-color-light { border: 1px solid #ccc; }
  //       }
  //
  //       &.chosen {
  //         position: static;
  //
  //         a {
  //           padding-left: 24px;
  //           border-color: $clr-highlight;
  //           height: auto;
  //
  //           &:before {
  //             // display: none;
  //             top: 3px;
  //             left: 3px;
  //             // color: #fff;
  //           }
  //         }
  //
  //         a:hover {
  //           // border-color: $error;
  //           // color: $error;
  //         }
  //       }
  //     }
  //   }
  // }
}

.nm-shop-results-bar a {
  border-radius: 5px;
  line-height: 1;
  padding: 10px 20px 10px 40px;
  border: 2px solid $clr-highlight;
  color: $clr-highlight;

  i {
    // top: 7px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 2.4rem;
  }

  span {
    color: darken($clr-highlight, 20);
  }

  &:last-child {
    margin-left: 1px;
  }
}

// WISHLIST

.return-to-shop .button,
#nm-wishlist-empty .button {
  padding: 1em 2em;

  &:before {
    @include font-awesome;
    content: "\f07a";
    padding-right: .5em;
  }
}

#nm-wishlist-empty p.icon,
.nm-cart-empty p.icon {
  height: 150px;
  margin: 40px 0 20px;
  background: url(../images/sad.svg) no-repeat top center;
  background-size: contain;
  opacity: .15;

  i {
    display: none;
  }
}

.nm-wishlist-remove {
  &:before {
    @include font-nm;
    content: "\e117";
    padding-right: .25em;
    font-size: .9em;
  }

  &:hover {
    color: $clr-pink-a400 !important;
  }
}

// BREADCRUMBS

.woocommerce-breadcrumb .delimiter {
  padding: 0 .7em;
  opacity: .3;
}

// MESSAGES

.nm-shop-notice {
  max-width: 800px;
  margin: 0 auto !important;

  a {
    display: inline;
    color: inherit;
  }
}

.nm-checkout-login-coupon .nm-shop-notice {
  a {
    color: $clr-highlight;
  }
}

.woocommerce-message {
  color: $message;
}
.woocommerce-error {
  color: $error;
}

.nm-validation-inline-notices .form-row.woocommerce-invalid-required-field {
  &:after {
    color: $error;
  }
}

.form-row.woocommerce-invalid .input-text,
.form-row.woocommerce-invalid select {
  border-bottom-color: $error;
}

.brand-image-wrap {
  @include scut-clearfix;
  margin: 2em 0;

  img {
    margin: 0;
    max-width: 150px;
    max-height: 80px;
  }
}

// INFINITE LOAD

.nm-infload-controls a {
  display: block;
  // background: $clr-highlight;
  color: $clr-highlight;
  border-radius: 5px;
  border: 2px solid $clr-highlight;
  font-size: 1.4em;
  // line-height: 3;
  width: 40%;
  margin: 0 auto;
  transition: color .3s ease, border .3s ease;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  &:hover {
    color: $clr-heading;
    border-color: $clr-heading;
  }
}

.nm-infload-controls a.nm-infload-to-top {
  display: none;
  cursor: default;
}
.all-products-loaded .nm-infload-controls .nm-infload-to-top {
  display: block;
  color: $clr-main-font;
  border-color: $clr-main-font;
}

// WC MEMBERSHIPS

.woocommerce .wc-memberships-restriction-message {
  text-align: center;
  background: url(../images/blind.svg) no-repeat;
  background-position: center;
  background-size: 200px;
  // margin: 0 !important;
  min-height: 300px;
}

// SIZE GUIDE

a.size-guide {
  display: block;
  padding: 0 12px 12px;
  line-height: 1;
  text-align: right;
}

.size-guide-wrap {
  float: right;
  padding-top: 12px;
  a {
    display: block;
    float: none !important;
    line-height: 20px;
  }
}

// .size-guide-wrap {
//   position: relative;
//   width: 100%;
//   text-align: center;
//   border-top: 1px solid #dadada;
//   border-right: 1px solid #dadada;
//   border-left: 1px solid #dadada;
//   overflow: hidden;
//
//   a {
//     display: block;
//     padding: 8px 16px;
//     float: none !important;
//     text-align: left;
//     color: $clr-heading;
//
//     &:hover {
//       color: #888;
//     }
//   }
// }

#ct_size_guide {
  max-width: 840px !important;
  line-height: 1.5;

  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
  }

  .sg_title {
    display: none;

    margin-top: 0;
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: .6em;
    text-align: center;
  }

  img.sizeguide {
    display: block;
    width: 200px;
    float: right;
    margin-left: 20px;

    @include media-breakpoint-down(sm) {
      width: 160px;
    }
  }

  hr {
    display: none;
    // margin: 1em 0;
  }

  table {
    table-layout: fixed;
    margin-top: 2em;

    th {
      font-weight: 700;
      white-space: nowrap;
    }

    td, th {
      padding: 1em 0;
    }

    tr:first-child th {
      border: 0;
    }

    tr:nth-child(2n) {
      background: $clr-grey-bg;
    }
    tr:nth-child(2n+1) {
      background: none;
    }

    @include media-breakpoint-down(xs) {
      overflow-x: auto;
      display: block;

      td, th {
        padding: 1em;
      }
    }
  }
}
