<h2>Congratulations!</h2>
<p>Hello {{username}}. You are now one of our distributors. Get ready to splurge in some Kurtas with special discounts.</p>
<p>With Haje Edit role, you are automatically entitled to have special wholesale pricing tiers when shopping at Haje site.</p>

<p style="text-align: center; margin-top: 3em;">
  <a href="{{site.url}}/account/" style="display: inline-block; background: #0287db; color: #fff; border-radius: 5px; padding: 1em 2em; text-decoration: none;">Account</a>
</p>
