<h1>Congratulations!</h1>
<p>Hello {{username}}. You are now one of our distributors. Get ready to splurge in some Kurtas with special discounts.</p>
<p>With Haje Edar role, you are automatically entitled to have special wholesale pricing tiers when shopping at Haje site.</p>

<hr>

<h1>Tahniah!</h1>
<p>Salam {{username}}. Anda kini berstatus Haje Edar (pengedar kami). Berbelanja secara pukal untuk mendapatkan kadar diskaun khas.</p>
<p>Dengan status Haje Edar, anda secara automatik berhak untuk mendapatkan harga pukal khas bagi pengedar-pengedar Haje semasa berbelanja di laman Haje.</p>

<p style="text-align: center; margin-top: 3em;">
  <a href="{{site.url}}/account/edar/" style="display: inline-block; background: #0287db; color: #fff; border-radius: 5px; padding: 1em 2em; text-decoration: none;">Haje Edar Discounts</a>
</p>
