<h2>Congratulations!</h2>
<p>Hello {{username}}. You are now one of our distributors. Get ready to splurge in some Kurtas with special discounts.</p>
<p>Congratulations {{username}}. You are now a Haje Edar. We're so excited to have you on board.</p>
<p>With Haje Edit role, you are automatically entitled to have special wholesale pricing tiers when shopping at Haje site.</p>
