@import "base";

div.userpro {
  margin-bottom: 0 !important;

  div.userpro-head {
    div.userpro-left {
      font-size: 2em !important;
      line-height: 1;
      font-weight: 300;
    }

    div.userpro-right {
      margin: 0;
      line-height: 2em;
    }
  }
}

div.userpro-section {
  margin-top: 1.6em !important;
  margin-bottom: 1em !important;
  background: none !important;
  border: 0 !important;
  font-size: 2.4em !important;
  font-weight: 300;
  line-height: 1 !important;

  &.userpro-collapsible-1 span {
    position: absolute;
    right: 0;
    display: block;
    font-size: 1em;
    line-height: 1;
    margin: 0;
  }
}

#upw-recent-order {
  .userpro-section.userpro-column.userpro-collapsible-1 {
    div.upw-order-snap {
      background: none;
      border: 1px solid #ddd;
      border-radius: 2em;
      padding: .3em .8em !important;
      margin-left: 10px;
      height: auto !important;
      font-size: .65em;
      color: #aaa;
    }
  }

  .userpro-section.userpro-column.userpro-collapsible-1.userpro-collapsed-1 {
    color: inherit !important;
  }

}

div.userpro-label {
  label {
    margin-right: 0 !important;
    font-weight: 600 !important;
    font-size: 1em !important;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  div.required {
    display: inline-block !important;
    margin-left: 5px;
    color: $error !important;
  }

  span.userpro-tip {
    margin-left: 5px;
  }
}

div.userpro-input {
  input[type=text],
  input[type=password],
  textarea {
    font-size: 1.6em !important;
    font-weight: 300 !important;
    height: auto !important;
    box-shadow: none !important;
    padding: .3em .5em !important;

    &:focus {
      box-shadow: none !important;
      border-color: $clr-highlight !important;
      background: tint($clr-highlight, 98) !important;
      color: shade($clr-highlight, 50) !important;
    }
  }

  .chosen-container-single .chosen-single {
    background: none !important;
    box-shadow: none !important;
    font-size: 1.6em;
    font-weight: 300;
    height: auto;
    padding: .3em .5em !important;

    div b {
      position: relative;
      height: 28px;
      top: 50%;
      right: 3px;
      transform: translateY(-50%);
    }
  }

  label.userpro-radio,
  label.userpro-checkbox {
    line-height: 1.4;
    padding-top: 3px;
    padding-left: 32px;

    span {
      position: absolute;
      top: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      background: none !important;
      border-radius: 3px;
      border: 1px solid #ddd;
      transition: all .3s ease;
    }
  }

  label.userpro-radio span {
    border-radius: 50%;
    &:before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $clr-highlight;
      // border: 1px solid $clr-highlight;
      opacity: 0;
      transition: all .3s ease;
    }

    &.checked {
      border-color: $clr-highlight;

      &:before {
        opacity: 1;
      }
    }

  }

  label.userpro-checkbox span {
    &:before {
      font-family: 'nm-font';
      font-style: normal;
      font-weight: normal;
      color: rgba($clr-highlight, 0);
      content: "\e116";
      font-size: 16px;
      transition: all .3s ease;
    }

    &.checked {
      border-color: $clr-highlight;

      &:before {
        color: $clr-highlight;
      }
    }
  }

  div.icon-ok {
    top: 6px;
  }

  div.icon-ok i {
    color: $message !important;
  }
}

div.userpro-field.focus {
  label {
    color: $clr-highlight !important;
  }
}

div.userpro-field-passwordstrength {
  text-align: right !important;

  span.strength-text {
    float: right;
  }

  span.strength-container {
    float: right;
    border-radius: 10px;
    overflow: hidden;

    span.strength-plain {
      transition: all .6s ease;
    }
  }
}

ins.userpro-section-warning {
  top: 2px;
  right: 30px;
  font-size: .5em !important;
  background: $error !important;
  border-color: $error !important;
  padding: .2em .8em !important;
}

div.userpro-warning {
  margin-right: 10px;
  font-size: 1em;
  box-shadow: none !important;
  border: 0 !important;
  background: $error !important;

  i {
    color: $error !important;
  }
}

div.userpro-input label.userpro-checkbox.hide-field {
  padding-top: 4px;
  font-size: 1em;
  text-transform: none;
}

div.userpro-field.userpro-submit {
  margin-top: 4em !important;
  border-top: 0;
  // text-align: center;

  input.userpro-button {
    font-size: 1.6em !important;
    // font-weight: 300 !important;
    // width: 200px !important;
    height: 48px !important;
    padding: 0 2em !important;
    background: $clr-highlight !important;
    border: 1px solid $clr-highlight !important;
    border: 0 !important;
    box-shadow: none !important;
    transition: all .3s ease !important;
  }

  input.userpro-button.secondary {
    font-size: 1.4em !important;
    background: none !important;
    border: 0 !important;
    width: auto !important;
    padding: 0 .5em !important;
  }

  input.userpro-button.popup-request_verify {
    font-size: 1.3em !important;
    font-weight: 400 !important;
    height: 42px !important;
  }

  input.userpro-button.red,
  a.userpro-button.red {
    float: right;
    font-size: 1.4em !important;
    font-weight: 400 !important;
    height: 42px !important;
    background: none !important;
    border: 0 !important;
    color: $clr-red !important;
    padding-right: 0 !important;
  }

  input.userpro-button:last-of-type {
    margin-right: 0 !important;
  }

  @include media-breakpoint-down(md) {
    input.userpro-button,
    input.userpro-button.secondary {
      width: 100% !important;
    }
  }
}

img.userpro-loading,
div.userpro img.userpro-loading {
  visibility: hidden !important;
  position: absolute;
  right: -2000px;
  top: 0x;
  // bottom: 0;
  margin-left: 10px;
}

form[data-action="view"] {
  div.userpro-input {
    font-size: 1.6em;
    font-weight: 300;
    padding-bottom: .5em;
  }
}

// form[data-action="login"],
// form[data-action="register"] {
//   div.userpro-field.userpro-submit {
//     text-align: center;
//   }
// }


div.userpro-profile-name {
  font-size: 2em !important;
  font-weight: 300;
}

form[data-action="delete"] {
  div.userpro-field[data-key="confirmdelete"] {
    div.userpro-input {
      > label.userpro-radio {
        margin-bottom: 10px !important;
      }

      > label.userpro-radio:last-of-type {
        span.checked {
          border-color: $clr-red !important;

          &:before {
            background: $clr-red !important;
          }
        }
      }
    }
  }

  div.userpro-field.userpro-submit input.userpro-button:not(.secondary) {
    background: $clr-red !important;
  }
}

div.userpro-social-connect {
  a[class^='userpro-social-'] {
    width: 48px !important;
    height: 48px !important;
    background-size: contain;
    border-radius: 3px;
    overflow: hidden;
    transition: all .3s ease;

    &:hover {
      opacity: .7;
    }
  }

  a.userpro-social-facebook {
    background-image: url(../images/social/facebook.svg);
  }

  a.userpro-social-google {
    background-image: url(../images/social/google-plus.svg);
  }
}
