@import 'mdc';
@import 'open-color';

// $clr-main: #777 !default;
// $clr-heading: #282828 !default;
//
// $clr-highlight: $clr-blue-a400 !default;

$message: $clr-green-a700 !default;
$notice: $clr-amber-a400 !default;
$error: $clr-pink-a400 !default;

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
//
// ::-moz-selection {
//   background: $clr-highlight;
//   /* WebKit/Blink Browsers */
//   color: #fff;
// }
// ::selection {
//   background: $clr-highlight;
//   /* WebKit/Blink Browsers */
//   color: #fff;
// }
// ::-moz-selection {
//   background: $clr-highlight;
//   /* Gecko Browsers */
//   color: #fff;
// }

.hajelogo-svg {
  .st0 {
    fill: $clr-highlight !important;
  }
  .st1 {
    fill: #fff !important;
  }
}
