@mixin form-row {
  label {
    display: block;
    // padding: .8em .8em 0;
    // margin: 0;
    text-transform: uppercase;
    letter-spacing: 0;
    color: tint($clr-heading, 40);
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .2s ease;
  }

  input, textarea {
    transition: all .2s ease;
  }

  &.focus {
    label {
      color: $clr-highlight;
    }

    input, textarea {
      border-color: tint($clr-highlight, 40);
      background: tint($clr-highlight, 90);
      color: shade($clr-highlight, 60);
    }
  }

  &.form-group label {
    display: inline-block;
  }
}

@mixin form-row-checkout {
  label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0;
    color: tint($clr-heading, 40);
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .2s ease;
    transform: translate3d(14px, 36px, 0);
  }

  input, textarea {
    transition: all .2s ease;
  }

  &.focus {
    label {
      color: $clr-highlight;
      transform: translate3d(0, 0, 0);
      font-size: 1.1rem;
      letter-spacing: 2px;
    }

    input, textarea {
      border-color: tint($clr-highlight, 40);
      background: tint($clr-highlight, 90);
      color: shade($clr-highlight, 60);
    }
  }

  &.form-group label {
    display: inline-block;
  }
}

@mixin form-row-boxed {
  margin-bottom: 1em;
  border: 1px solid #ccc;
  background: none;
  border-radius: 0;
  transition: all .2s ease;

  &.form-row-first,
  &.form-row-last {
    padding: 0;
    // width: auto;
    // float: none;
  }

  input, textarea {
    background: none;
    border: none;
    padding: .8em .7em .5em;
    line-height: 1.5;
    // font-size: 1.1em;
    height: auto;
  }

  label {
    display: block;
    padding: .8em .8em 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0;
    color: tint($clr-heading, 40);
    font-size: .8em;
    font-weight: 500;
    transition: all .2s ease;
  }

  input.input-checkbox {
    line-height: 2;
  }

  label.checkbox {
    line-height: 2;
  }

  &.focus {
    border-color: tint($clr-highlight-2, 40);
    background: tint($clr-highlight-2, 90);

    label {
      color: $clr-highlight;
    }
  }
}

input, textarea {
  &:focus {
    border-color: tint($clr-highlight, 40) !important;
    background: tint($clr-highlight, 90);
    color: shade($clr-highlight, 60);
  }
}

input:disabled {
  opacity: .5 !important;
}

// CHECKBOX
.nm-custom-checkbox-label {
  padding-left: 26px;
}
.nm-custom-checkbox-label:before {
  top: 2px !important;
  left: 0;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 18px;
  transition: all .3s ease;
}
.nm-custom-checkbox:checked + .nm-custom-checkbox-label:before {
  font-size: 14px;
  line-height: 18px;
  background: $clr-highlight;
  color: #fff;
  border-color: $clr-highlight;
  content: "\e116";
}

// RADIO
.nm-custom-radio-label {
  padding-left: 26px;
}
.nm-custom-radio-label:before {
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  transition: all .3s ease;
}
.nm-custom-radio:checked + .nm-custom-radio-label:before {
  border-color: $clr-highlight;
  background-color: $clr-highlight;
}

#customer_login {
  .form-row {
    @include form-row;
  }
}

.woocommerce-cart {
  // #nm-cart-continue-button {
  //   background: $clr-highlight;
  //   border-color: $clr-highlight;
  //   color: #fff;
  //   transition: all .3s ease;
  //
  //   &:hover {
  //     background: $clr-heading;
  //     border-color: $clr-heading;
  //   }
  // }
}

.woocommerce-checkout {
  form[name="checkout"] {
    .form-row {
      @include form-row;
    }

    #order_comments_field {
      padding-top: 36px;
    }
  }

  form.login {
    .form-row:not(.form-group) {
      @include form-row;
    }
  }
}

.woocommerce-account {
  form {
    .form-row {
      @include form-row;
    }
  }
}

#commentform {
  [class^="comment-form-"] {
    @include form-row;
  }
}

.nm-order-track-form {
  form {
    .form-row {
      @include form-row;
    }
  }
}


.nm-row .wpcf7 {
  margin-left: 0;
}

.wpcf7-form {
  p {
    padding: 0 !important;
    margin-bottom: 20px !important;
  }

  .form-row {
    @include form-row;
    // padding: 0 1em 2em 0;
    clear: none !important;
  }

  input[type=submit] {
    width: 100%;
  }

  .wpcf7-not-valid {
    border-bottom-color: $error;
  }

  .wpcf7-mail-sent-ok {
    color: $message;
  }
  .wpcf7-mail-sent-ng {
    color: $error;
  }
  .wpcf7-spam-blocked {
    color: $notice;
  }
  .wpcf7-validation-errors {
    color: $error;
  }
  .wpcf7-form-control-wrap {
    position: relative;
    display: block;
  }
  .wpcf7-not-valid-tip {
    color: $error;
    margin-top: 3px;
  }
  .use-floating-validation-tip .wpcf7-not-valid-tip {
    border: 1px solid $error;
  }

  .wpcf7-response-output {
    margin: 1em 0;
    padding: .8em 1.5em;
  }

  .wpcf7-mail-sent-ok {
    border: 1px solid $message;
  }

  .wpcf7-mail-sent-ng {
    border: 1px solid $error;
  }

  .wpcf7-spam-blocked {
    border: 1px solid $notice;
  }

  .wpcf7-validation-errors {
    border: 1px solid $error;
  }
}



.mc4wp-form {
  position: relative;
  margin-bottom: 20px;

  p {
    margin-bottom: 0;
    line-height: 1.5;
  }
  input[type="email"] {
    background-color: rgba(#fff, 0.1);
    border: 1px solid rgba(#fff, 0.3);
    color: white;
    width: 100%;
    transition: all .3s ease;
    line-height: 1;
  }
  input[type="email"]:focus {
    border: 1px solid rgba(#fff, 0.8);
  }
  input[type="submit"] {
    // width: 35px;
    height: 35px;
    border: none !important;
    background-color: transparent !important;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2em;
    line-height: 1;
    padding: 0 10px;
    text-align: center;
    opacity: 1;
    transition: all .3s ease;
  }
  input[type="submit"]:hover {
    color: $clr-highlight;
  }
  label {
    display: none;
  }
  ::-webkit-input-placeholder {
    color: white;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: white;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder {
    color: white;
  }

  .mc4wp-response {
    margin-top: .4em;
  }

  .mc4wp-form-fields {
    position: relative;
  }
}

.light .mc4wp-form {
  margin-bottom: 30px;

  input[type="email"] {
    border: 1px solid rgba($clr-heading, .3);
    color: $clr-heading;
  }
  input[type="email"]:focus {
    border-color: $clr-heading;
  }
  input[type="submit"] {
    color: $clr-heading;
  }
  input[type="submit"]:hover {
    color: $clr-highlight;
  }
  ::-webkit-input-placeholder {
    color: rgba($clr-heading, .7);
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: rgba($clr-heading, .7);
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba($clr-heading, .7);
  }
  :-ms-input-placeholder {
    color: rgba($clr-heading, .7);
  }

  &.focus {
    input[type="submit"] {
      color: $clr-highlight;
    }
  }
}
