#haje-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 820px;
  background: linear-gradient(170deg, adjust-hue($clr-highlight, 20) 0%, $clr-highlight 40%, $clr-highlight 50%, adjust-hue($clr-highlight, -30) 100%);
  transform: skewY(8deg);
  // transform-origin: 100%;
  transform-origin: 100%;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    height: 640px;
  }
}

.home .nm-page-full {
  background: $clr-grey-bg;
}

#haje-kurta {
  padding-bottom: 4em;

  .nm-products li {
    .nm-shop-loop-thumbnail {
      border-radius: 4px;
      box-shadow: 0 8px 15px rgba(#000,.05);
      transition: all .3s ease;
    }

    &:hover {
      .nm-shop-loop-thumbnail {
        box-shadow: 0 10px 45px rgba(#000,.1);
        transform: translateY(-5px);
      }
    }
  }

  .wpb_single_image figure {
    box-shadow: 0 8px 15px rgba(#000,.1);
    transform: skewY(8deg);
    overflow: hidden;
    background: #fff;
    border-radius: 5px;

    img {
      transform: skewY(-8deg) translateY(20px);
    }
  }
}
