@import 'https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Playfair+Display:400,400i,700,900';
@import 'myriad-set-pro.css';

@mixin font-awesome {
  content: "";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 0.2em;
}

@mixin font-nm {
  content: "";
  font-family: 'nm-font' !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 0.2em;
}

$body-fonts: 'Oxygen', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-fonts: 'Playfair Display', $body-fonts;

body {
  font-family: $body-fonts;
  font-weight: 400;
}

.accent {
  color: $clr-highlight;
}

.bg-accent {
  background: $clr-highlight;
  color: #fff;
}

// h1 { font-size: 3.2rem; }
// h2 { font-size: 2.8rem; }
// h3 { font-size: 2.6rem; }
// h4 { font-size: 2.3rem; }
// h5 { font-size: 2rem; }
// h6 { font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-fonts;
  font-weight: 400;
  letter-spacing: -.04em;
}

h4, h5, h6 {
  font-family: $body-fonts;
  font-weight: 400;
  letter-spacing: normal;
}

.jumbo {
  h1 {
    font-size: scut-rem(30px) + 2rem;
    line-height: 1;
    margin-bottom: .2em;
  }
  h2 { font-size: scut-rem(28px) + 1rem; }
  h3 { font-size: scut-rem(24px) + .5rem; }
  // h4 { font-size: scut-rem(22px) + 1rem; }
  // h5 { font-size: scut-rem(18px) + 1rem; }
  // h6 { font-size: scut-rem(16px) + 1rem; }

  // h1, h2, h3, h4, h5, h6 {
  //   font-weight: 300;
  // }

  h3, h4, h5, h6 {
    opacity: .4;
    font-weight: 400;
  }
}

.heading-margins {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
  }
}

.playfair {
  h1 {
    font-family: 'Playfair Display', $heading-fonts;
    letter-spacing: -.025em;
  }
}

.nm-products {
  h1, h2, h3, h4, h5, h6 {
    font-family: $body-fonts;
    font-weight: 400;
    letter-spacing: normal;
  }
}

.nm-single-product .product-summary .product_title {
  font-family: $body-fonts;
  font-weight: 400;
}

.center {
  text-align: center;
}

b, strong {
  font-weight: 600;
}

address {
  font-style: normal;
}

//
// .dark {
//   color: #fff;
// }


.nm-row.dark {
  color: #ddd;

  // h1, h2, h3, h4, h5, h6, p {
  //   color: #fff;
  // }

  a {
    transition: all .3s ease;
    opacity: .6;
  }

  a:hover {
    opacity: 1;
  }
}

.hj-heading {
  position: relative;
  padding-bottom: 10px;
  font-weight: 400;
  text-transform: capitalize;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5rem;
    height: 1px;
    background: $clr-highlight;
  }
}

.hipster-border {
  position: relative;
  padding: 4rem;
  margin-bottom: 1.5rem;

  &:before,
  &:after {
    position: absolute;
    content: "";
    border: 5px solid $clr-highlight;
    top: -.5rem;
    left: -.5rem;
    width: 100%;
    height: 100%;
    opacity: .5;
  }

  &:after {
    border: 5px solid $clr-heading;
    top: .5rem;
    left: .5rem;
  }
}
